<div class="my-5 text-center" style="height: 100vh;" *ngIf="!info_types">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<mat-sidenav-container class="sidenav-container" *ngIf="info_types">
  <mat-sidenav mode="side" opened class="sidenav">
    <ng-container *ngFor="let type of info_types">
      <!-- <p class="h4 mt-3 mx-3 text-muted">{{ list.name }}</p> -->
      <mat-nav-list class="p-0">
        <a [ngClass]="active_id == type.id ? 'active': ''" mat-list-item (click)="changeType(type.id)">
          <h3 matLine> {{ type.iot_type_name_th }}</h3>
        </a>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-fluid p-5">
      <ng-container *ngIf="type">
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" *ngFor="let name of type.mqtt_name">
            <div class="card card-info">
              <div class="card-header">
                <div class="card-title">{{ name.device.location_name }}</div>
              </div>
              <div class="card-body px-0">
                <blockquote class="blockquote pt-0" style="font-style: normal">
                  <p class="display-4 text-left m-0">ล่าสุด: {{ ((latest['iot' + name.mas_iot_device_id + '' + name.ref_iot_type_id] ? latest['iot' + name.mas_iot_device_id + '' + name.ref_iot_type_id].value: 0) | number : '1.0-1') + type.unit }}</p>
                  <footer class="blockquote-footer text-left">เมื่อ <cite title="Source Title">{{ (latest['iot' + name.mas_iot_device_id + '' + name.ref_iot_type_id] ? latest['iot' + name.mas_iot_device_id + '' + name.ref_iot_type_id].time: '00.00') | date: 'medium' }}</cite></footer>
                </blockquote>

                <div id="iot{{ name.mas_iot_device_id + '' + name.ref_iot_type_id }}" style="width: 100%; height: 300px"></div>
              </div>
              <p class="h5 text-right mx-5"><strong><a routerLink="/info/iot/{{ name.id }}" class="text-info">ดูข้อมูลย้อนหลัง</a></strong></p>

            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
