<div class="my-5 text-center" style="height: 100vh;" *ngIf="!ready">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" [style.display]="ready ? 'block' : 'none'">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">ประชากร</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-hero card-primary mx-5 px-5">
      <h3 class="text-center mt-5">ข้อมูลประชากรจังหวัดสุรินทร์</h3>
      <div id="popChart" style="width: 100%; height: 500px"></div>
    </div>

    <div class="card card-primary">
      <h3 class="text-center mt-5">ตารางข้อมูลประชากรจังหวัดสุรินทร์</h3>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ปี</th>
          <td mat-cell *matCellDef="let row"> {{row.year}} </td>
        </ng-container>
      
        <ng-container matColumnDef="male">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ชาย</th>
          <td mat-cell *matCellDef="let row">{{ row.male }}</td>
        </ng-container>
      
        <ng-container matColumnDef="female">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>หญิง</th>
          <td mat-cell *matCellDef="let row"> {{ row.female }} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>หญิง</th>
          <td mat-cell *matCellDef="let row"> {{ row.total }} </td>
        </ng-container>

        <ng-container matColumnDef="house">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ครัวเรือน</th>
          <td mat-cell *matCellDef="let row"> {{ row.house }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>