<div class="d-flex mt-2">
  <span class="flex-grow-1 px-5">
    <h3 [className]="ext_staffs.invalid && (ext_staffs.dirty || ext_staffs.touched) ? 'color-danger' : ''">3.2.1 ผู้นำชุมชนที่เข้าร่วมโครงการ</h3>
  </span>              
  <a href="javascript:void(0)" class="btn btn-xs btn-raised btn-success" (click)="addExtStaff($event)">
    <i class="fa fa-plus"></i>
    เพิ่มผู้นำชุมชน
  </a>
</div>
<div class="mx-5 animated fadeInDown" *ngFor="let staff of ext_staffs.controls; let i = index">
  <app-ext-staff
    [form]="staff" 
    [index]="i" 
    [prefixName]="prefixName" 
    [userGroup]="userGroup"
    
    (extStaffRemoved)="removeExtStaff($event)">
  </app-ext-staff>
</div>