<div id="schoolmis" class="ms-site-container mt-5">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">สถานศึกษา</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-hero card-primary">  
      <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          เกิดข้อผิดพลาดในการดึงข้อมูล
        </div>
      </div>  
      <form [formGroup]="filterForm" class="mt-2" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="mx-2" appearance="outline">
          <mat-label>พื้นที่การศึกษา</mat-label>
          <mat-select formControlName="area">
            <mat-option [value]="3201">สพป.สุรินทร์ เขต 1</mat-option>
            <mat-option [value]="3202">สพป.สุรินทร์ เขต 2</mat-option>
            <mat-option [value]="3203">สพป.สุรินทร์ เขต 3</mat-option>
            <mat-option [value]="101733">สพม.เขต 33(สุรินทร์)</mat-option>
          </mat-select>
        </mat-form-field>       
        <mat-form-field class="mx-2" appearance="outline">
          <mat-label>โรงเรียน</mat-label>
          <mat-select formControlName="school">
            <mat-option *ngFor="let school of schools" [value]="school.school_code">{{ school.school_name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mx-2" appearance="outline">
          <mat-label>ปี</mat-label>
          <mat-select formControlName="year">
            <mat-option [value]="2560">2560</mat-option>
            <mat-option [value]="2561">2561</mat-option>
            <mat-option [value]="2562">2562</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mx-2" appearance="outline">
          <mat-label>ช่วงชั้น</mat-label>
          <mat-select formControlName="class">
            <mat-option [value]="1">อนุบาล</mat-option>
            <mat-option [value]="2">ประถม</mat-option>
            <mat-option [value]="3">มัธยมต้น</mat-option>
            <mat-option [value]="4">มัธยมปลาย</mat-option>
            <mat-option [value]="5">ปวช.</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="w-100" style="height: 500px;" *ngIf="results && results.length > 0">
        <ngx-charts-bar-vertical          
          [results]="results"
          [gradient]="false"
          [xAxis]="false"
          [yAxis]="true"
          [legend]="true"
          legendTitle="ชั้น"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="'ชั้น'"
          [showGridLines]="false">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
</div>