<div class="my-5 text-center" *ngIf="!projectReady && !resultReady" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div [style.display]="projectReady && resultReady ? 'block' : 'none'">
  <div class="container">
    <h3 class="color-dark text-center">
      งบประมาณดำเนินการโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น ระยะ 20 ปี (พ.ศ.2560-2579)
    </h3>
    <!--<span><img src="assets/img/i_1.png" alt="" width="200" height="200">xx</span></h3>-->
    <!--<div class="text-center wow zoomInUp animation-delay-2"><h1 class="color-primary"><img src="assets/img/i_1.png" width="130" height="110">30,000,000 <span class="color-warning">&nbsp;&nbsp;&nbsp; บาท</span></h1></div>-->
  </div>
  
  <div class="container">  
    <div class="row">
      <div class="col-sm-3">
        <div class="card card-warning card-body overflow-hidden text-center zoomInUp animation-delay-2 h-100">
          <h2 class="color-success">{{ result?.total_budget | number }}</h2>
          <i class="fa fa-4x fa-money color-success"></i>
          <p class="mt-2 no-mb lead small-caps color-success">งบประมาณที่ใช้ทั้งหมด</p>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="card card-warning card-body overflow-hidden text-center zoomInUp animation-delay-2 h-100">
          <h2 class="color-danger">{{ result?.total_projects }}</h2>
          <i class="fa fa-4x fas fa-archive color-danger"></i>
          <p class="mt-2 no-mb lead small-caps color-danger">จำนวนโครงการ</p>
        </div>
      </div>
      
      
      <div class="col-sm-3">
        <div class="card card-warning card-body overflow-hidden text-center zoomInUp animation-delay-2 h-100">
          <a href="/">
          <h2 class="color-primary">{{ result?.total_villages }}</h2>
          <i class="fa fa-4x fa fa-map-marker color-primary" title="ดูรายละเอียด"></i>
          <p class="mt-2 no-mb lead small-caps color-primary">พื้นที่บริการ</p>
          <span class="color-primary">{{ result?.total_districts+' อำเภอ '+result?.total_sub_districts+' ตำบล '+result?.total_villages+' หมู่บ้าน' }}</span>
          </a>
        </div>
      </div>
  
      <div class="col-sm-3">
        <div class="card card-warning card-body overflow-hidden text-center zoomInUp animation-delay-2 h-100">
          <a href="/aboutus">
          <h2 class="color-info">6</h2>
          <i class="fa fa-4x fa fa-ioxhost color-info" title="ดูรายละเอียด"></i>
          <p class="mt-2 no-mb lead small-caps color-info">ตัวชี้วัดโครงการ</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card mt-5 animated fadeInUp">
      <div class="card-body m-5 p-5">
        <h3 class="text-center mb-5">สรุปหน่วยงานที่รับผิดชอบโครงการ</h3>
        <div id="projectChart" style="width: 100%; height: 500px"></div>
  
      </div>
    </div>
  
    <div class="card mt-5 animated fadeInUp">
      <div class="card-body m-5 p-5">
        <h3 class="text-center">งบประมาณของแต่ละหน่วยงาน</h3>
        
        <div id="budgetChart" style="width: 100%; height: 500px"></div>
      </div>
    </div>  
    
  </div>

  <div class="container">
    <h3 class="color-dark text-center animated fadeInUp">
      โครงการที่ได้รับอนุมัติ
    </h3>
    <div class="card card-primary">
      <ng-container>
        <mat-form-field class="px-5 pt-5">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="px-2 text-center" style="width: 10%">สถานะ</th>
            <td mat-cell class="text-center" *matCellDef="let row">
              <button mat-icon-button>
                <mat-icon class="green-icon" matTooltip="อนุมัติแล้ว" *ngIf="row.approved === 1">checked</mat-icon>
                <mat-icon class="red-icon" matTooltip="ยังไม่อนุมัติ" *ngIf="row.approved === 0">close</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="project_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%">โครงการ</th>
            <td mat-cell *matCellDef="let row">
              <a routerLink="/projects/{{ row.id }}" class="color-primary">
                {{ row.project_name }}
              </a>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="faculty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%">หน่วยงาน</th>
            <td mat-cell *matCellDef="let row">{{ row.faculty.fac_name }}</td>
          </ng-container>
        
          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%">งบประมาณ</th>
            <td mat-cell *matCellDef="let row"> {{ row.budget | number }} </td>
          </ng-container>

          <ng-container matColumnDef="assessment_result">
            <th mat-header-cell *matHeaderCellDef style="width: 10%">ผลการประเมิน</th>
            <td mat-cell *matCellDef="let row">
              <a mat-icon-button routerLink="/projects/assessment/{{ row.id }}/result" color="accent" matTooltip="ผลการประเมิน" *ngIf="row.approved === 1">
                <mat-icon>playlist_add_check</mat-icon>
              </a>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[15, 30, 100]"></mat-paginator>
      </ng-container>
    </div>
  </div>
</div>