<div class="my-5 text-center" *ngIf="!villages" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<!-- Overlay -->
<a href="/landing" class="ms-conf-btn ms-configurator-btn btn-circle-lg btn-circle btn-circle-raised btn-circle-warning animated rubberBand">
	<i class="fa fa-android"></i>
	<i class="fa fa-apple"></i>
</a>

<div class="ms-site-container mt-5" *ngIf="villages">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h4>โครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น มหาวิทยาลัยราชภัฏสุรินทร์</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
      <div class="card-body p-1">
        <agm-map [latitude]="googleMapOptions.lat" [longitude]="googleMapOptions.lng" [zoom]="googleMapOptions.zoom">
          <agm-polygon *ngIf="polygonPaths.length > 0" [paths]="polygonPaths" 
            strokeColor="#FF0000" 
            strokeOpacity="0.8" 
            strokeWeight="2" 
            fillColor="#FF0000" 
            fillOpacity="0.35"></agm-polygon>
          <agm-data-layer [geoJson]="geoJsonObject" 
            [style]="setGeoJsonStyle"></agm-data-layer>
          <agm-marker [latitude]="googleMapOptions.lat" 
            [longitude]="googleMapOptions.lng" 
            iconUrl="assets/img/logo.png"></agm-marker>
          <ng-container *ngFor="let village of villages">
            <agm-info-window [latitude]="village.lat" 
            [longitude]="village.lng"
            [isOpen]="true">
            <a href='javascript:void(0);' (click)="toggleModal(village)">{{ village.village.village_name_th+' ตำบล'+ village.sub_district.sub_district_name_th+' อำเภอ'+village.district.district_name_th }}</a>
          </agm-info-window>
          </ng-container>          
        </agm-map>
      </div>
    </div>
  </div>
</div>
