<div class="form-row" [formGroup]="form">
  <mat-form-field class="col-5">
    <mat-label>ชื่อหน่วยงาน</mat-label>
    <input matInput formControlName="o_name">
    <mat-error *ngIf="formErrors.o_name">{{ formErrors.o_name }}</mat-error>
  </mat-form-field>

  <mat-form-field class="col-6">
    <mat-label>ความร่วมมือ</mat-label>
    <input matInput formControlName="o_participate">
    <mat-error *ngIf="formErrors.o_participate">{{ formErrors.o_participate }}</mat-error>
  </mat-form-field>

  <button mat-icon-button color="warn" class="col-1" (click)="removeAlliance()">
    <mat-icon>close</mat-icon>
  </button>
</div>