<!-- <div class="my-5 text-center" *ngIf="!project" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" *ngIf="project">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">ประเมินโครงการ</h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7"><a href="/projects/{{ project.id }}" class="color-white" target="blank"><i class="fa fa-external-link-square" aria-hidden="true"></i> {{ project.project_name }}</a></p>
      </div>
    </div>      
  </div>

  <div class="container">
    <input type="hidden" name="project_id" value="{{ project.id }}">
    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-file-text"></i> ตอนที่ 1: วัตถุประสงค์โครงการและตัวชี้วัด</h3>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr class="color-primary">
              <th class="text-center" style="width: 30%;">วัตถุประสงค์</th>
              <th class="text-center" style="width: 20%;">ประเมิน</th>
              <th class="text-center" style="width: 50%;">ข้อเสนอแนะ</th>
            </tr>

            <tbody>
              @foreach(project.objectives as $idx=>$objective)
                <tr>                
                  <td>
                    {{ ($idx+1).'. '.$objective->objective }}                    
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="objective[{{ $idx }}][status]" value="1"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="objective[{{ $idx }}][status]" value="0"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0">
                      <textarea class="form-control" rows="5" name="objective[{{ $idx }}][suggestion]"></textarea>
                    </div>
                  </td>                
                </tr>
              @endforeach
          </thead>
          <thead>
            <tr class="color-primary">
              <th class="text-center" style="width: 30%;">กิจกรรม</th>
              <th class="text-center" style="width: 10%;">ปฏิบัติ</th>
              <th class="text-center" style="width: 10%;">ไม่ปฏิบัติ</th>
              <th class="text-center" style="width: 50%;">ข้อเสนอแนะ</th>
            </tr>

            <tbody>
              @foreach(project.activities as $idx=>$activity)
                <input type="hidden" name="activity[{{ $idx }}][id]" value="{{ $activity->id }}">
                <tr>                
                  <td>
                    {!! ($idx+1).'. '.$activity->activity !!}                    
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="activity[{{ $idx }}][status]" value="1"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="activity[{{ $idx }}][status]" value="0"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0">
                      <textarea class="form-control" rows="5" name="activity[{{ $idx }}][suggestion]"></textarea>
                    </div>
                  </td>                
                </tr>
              @endforeach
          </thead>
          <thead>
            <tr class="color-primary">
              <th class="text-center" style="width: 30%;">ผลลัพธ์</th>
              <th class="text-center" style="width: 10%;">บรรลุ</th>
              <th class="text-center" style="width: 10%;">ไม่บรรลุ</th>
              <th class="text-center" style="width: 50%;">ข้อเสนอแนะ</th>
            </tr>

            <tbody>
              @foreach(project.outputs as $idx=>$output)
                <input type="hidden" name="output[{{ $idx }}][id]" value="{{ $output->id }}">
                <tr>                
                  <td>
                    {!! ($idx+1).'. '.$output->output !!}                    
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="output[{{ $idx }}][status]" value="1"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="output[{{ $idx }}][status]" value="0"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0">
                      <textarea class="form-control" rows="5" name="output[{{ $idx }}][suggestion]"></textarea>
                    </div>
                  </td>                
                </tr>
              @endforeach
          </thead>
          <thead>
            <tr class="color-primary">
              <th class="text-center" style="width: 30%;">ตัวชี้วัด</th>
              <th class="text-center" style="width: 10%;">สอดคล้องตามวัตถุประสงค์</th>
              <th class="text-center" style="width: 10%;">ไม่สอดคล้องตามวัตถุประสงค์</th>
              <th class="text-center" style="width: 50%;">ข้อเสนอแนะ</th>
            </tr>

            <tbody>
              @foreach(project.kpi as $idx=>$k)
                <input type="hidden" name="kpi[{{ $idx }}][id]" value="{{ $k->id }}">
                <tr>                
                  <td>
                    {!! ($idx+1).'. '.$k->kpi !!}                    
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="kpi[{{ $idx }}][status]" value="1"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0 text-center">
                      <div class="radio">
                        <label><input type="radio" name="kpi[{{ $idx }}][status]" value="0"></label>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group m-0">
                      <textarea class="form-control" rows="5" name="kpi[{{ $idx }}][suggestion]"></textarea>
                    </div>
                  </td>                
                </tr>
              @endforeach
          </thead>
        </table>        
      </div>
    </div>

    <div class="card card-royal animated fadeInUp animation-delay-7">
      <div class="card-header">
        <h3 class="card-title"><i class="zmdi zmdi-file-text"></i> ตอนที่ 2: ผลปรากฏตามสภาพจริงในระหว่างทำการประเมิน (จากการสังเกต/สัมภาษณ์)</h3>
      </div>
      <div class="card-body">
        <h4>2.1 รูปแบบ/วิธีการจัดกิจกรรมหลัก</h4>
        <div class="form-group m-0">
          <textarea class="form-control" rows="5" name="result_method" required></textarea>
        </div>
        <h4>2.2 สภาพบรรยากาศในการดำเนินกิจกรรมและการมีส่วนร่วมของกลุ่มเป้าหมาย</h4>
        <div class="form-group m-0">
          <textarea class="form-control" rows="5" name="result_vibe" required></textarea>
        </div>
        <h4>2.3 แนบรูปภาพ/ไฟล์ (เพิ่มเติม)</h4>
        <div class="form-group m-0">
          <div class="form-group">
            <input type="file" name="afiles[]" multiple>
            <div class="input-group">
              <input type="text" readonly="" class="form-control" placeholder="Placeholder w/file chooser...">
              <span class="input-group-btn input-group-sm">
                <button type="button" class="btn btn-fab btn-fab-mini">
                  <i class="material-icons">attach_file</i>
                </button>
              </span>
            </div>
          </div>
        </div>          
      </div>
    </div>

    <div class="card card-royal animated fadeInUp animation-delay-7">
      <div class="card-header">
        <h3 class="card-title"><i class="zmdi zmdi-file-text"></i> ตอนที่ 3: ปัญหาอุปสรรค แนวทางการปรับปรุงพัฒนาโครงการ</h3>
      </div>   
      <div class="card-body">
        <h4>3.1 ปัญหาและอุปสรรค</h4>
        <div class="form-group m-0">
          <textarea class="form-control" rows="5" name="problem" required></textarea>
        </div>
        <h4>3.2 แนวทางในการแก้ไข</h4>
        <div class="form-group m-0">
          <textarea class="form-control" rows="5" name="problem_solving" required></textarea>
        </div>
      </div>     
    </div>

    <div class="card card-royal animated fadeInUp animation-delay-7">
      <div class="card-header">
        <h3 class="card-title"><i class="zmdi zmdi-file-text"></i> ตอนที่ 4: ข้อเสนอแนะในการพัฒนากิจกรรม/งาน/โครงการ หรือการต่อยอดผลงาน ครั้งต่อไป</h3>
      </div>
      <div class="card-body">
        <h4>4.1 จุดแข็งของโครงการ</h4>
        <div class="form-group m-0">
          <textarea class="form-control" rows="5" name="good_point" required></textarea>
        </div>
        <h4>4.2 จุดอ่อนของโครงการและโอกาสการพัฒนา</h4>
        <div class="form-group m-0">
          <textarea class="form-control" rows="5" name="weak_point" required></textarea>
        </div>
      </div>
    </div>

    <div class="form-group row animated fadeInUp animation-delay-7">
      <div class="col-lg-12 text-center">
        <button type="submit" class="btn btn-raised btn-primary">ส่งแบบประเมิน</button>
      </div>
    </div>
  </div>
</div> -->