<div class="my-5 text-center" style="height: 100vh;" *ngIf="!member">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" *ngIf="member">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">ข้อมูลสมาชิก</h1>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="card card-primary card-hero animated fadeInUp animation-delay-12">
      <div class="card-header">
        <h3 class="card-title">
          <i class="zmdi zmdi-account-circle"></i> ประวัติ</h3>
      </div>
      <table class="table table-no-border table-striped">
        <tr>
          <th><i class="zmdi zmdi-account mr-1 color-success"></i>ชื่อ</th>
          <td>{{ member.firstname + ' ' + member.lastname }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-male mr-1 color-success"></i>เพศ</th>
          <td>{{ member.gender.name_th }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-mood mr-1 color-success"></i>สถานะในครอบครัว</th>
          <td>{{ member.role }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-cake mr-1 color-success"></i>อายุ</th>
          <td>{{ member.born || '-' }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-home mr-1 color-success"></i>ที่อยู่</th>
          <td>{{ member.house_address }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-local-phone mr-1 color-success"></i>เบอร์โทรศัพท์</th>
          <td>{{ member.tel || '-' }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-case mr-1 color-success"></i>อาชีพ</th>
          <td>{{ member.family_occupation.name_th || '-' }}</td>
        </tr>
        <tr>
          <th><i class="zmdi zmdi-library mr-1 color-success"></i>การศึกษา</th>
          <td>{{ member.family_education.name_th || '-' }}</td>
        </tr>
        
      </table>
    </div>

    <h2 class="color-primary text-center mt-4 mb-2">ประวัติการตรวจสุขภาพ</h2>
    <div class="row">
      <div class="col-lg-12">
        <ul class="ms-timeline">
          <li class="ms-timeline-item wow materialUp" *ngFor="let result of member.health">
            <div class="ms-timeline-date">
              <time class="timeline-time" datetime="">
                {{ convertDate(result.check_date) }}
              </time>
              <i class="ms-timeline-point bg-info"></i>
            </div>
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">บันทึกการตรวจ</h3>
              </div>
              <div class="card-body">
                <p><strong>น้ำหนัก:</strong> {{ result.weight }} กก.</p>
                <p><strong>ส่วนสูง:</strong> {{ result.height }} ซม.</p>
                <p><strong>ความดัน:</strong> {{ result.blood_pressure }} mm Hg</p>
                <p><strong>อุณหภูมิร่างกาย:</strong> {{ result.body_temp }}°</p>
                <p><strong>ระดับน้ำตาลในเลือด:</strong> {{ result.blood_sugar }} mg/dL</p>
                <p><strong>โรคที่พบ:</strong> {{ result.icd.name_th }}</p>
                <p><strong>อาการ</strong></p>
                <p class="mx-3" style="white-space: pre-line;">{{ result.symptom }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>