<div class="animated fadeInDown" [formGroup]="form">
  <div class="form-row">
    <mat-form-field class="col-12">
      <mat-label>กิจกรรม</mat-label>
      <input matInput formControlName="activity" rows="2">
      <mat-error *ngIf="formErrors.activity">{{ formErrors.activity }}</mat-error>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field class="col-11">
      <mat-label>ลักษณะบูรณาการ</mat-label>
      <textarea matInput formControlName="plan" rows="2"></textarea>
      <mat-error *ngIf="formErrors.plan">{{ formErrors.plan }}</mat-error>
    </mat-form-field>
    
    <button mat-icon-button color="warn" class="col-1" *ngIf="index > 0" (click)="removePlan()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>