<div class="d-flex mt-2">
  <span class="flex-grow-1 px-5">
    <h3 [className]="sub_staffs.invalid && (sub_staffs.dirty || sub_staffs.touched) ? 'color-danger' : ''">3.1.2 ผู้ประสานงาน</h3>
  </span>              
  <a href="javascript:void(0)" class="btn btn-xs btn-raised btn-success" (click)="addStaff($event)">
    <i class="fa fa-plus"></i>
      เพิ่มผู้ประสานงาน
  </a> 
</div>
<div class="mx-5 animated fadeInDown" *ngFor="let staff of sub_staffs.controls; let i = index">
  <app-sub-staff 
    [formType]="formType"
    [staff]="staff" 
    [index]="i" 
    [faculty]="faculty"
    [subSubFacultyArr]="subSubFacultyArr" 
    [subBranchArr]="subBranchArr" 
    [subStaffArr]="subStaffArr" 

    (subFacultyLoaded)="loadSubFaculty($event)" 
    (branchLoaded)="loadBranch($event)" 
    (staffLoaded)="loadStaff($event)" 
    (staffRemoved)="removeStaff($event)">
  </app-sub-staff>
</div>