<div class="card card-royal animated fadeInUp animation-delay-7">
  <div class="card-header d-flex">
    <h3 class="card-title flex-grow-1"><mat-icon>attach_file</mat-icon> ผู้เชี่ยวชาญทั้งหมด</h3>
    <a routerLink="/experts/create" mat-raised-button color="success">
      <mat-icon>add</mat-icon>
      เพิ่มผู้เชี่ยวชาญ
    </a>
  </div>

  <div class="card-body" *ngIf="!dataSource && adminExpertList.length === 0">
    <h3 class="text-center">ไม่พบข้อมูล</h3>
  </div>

  <ng-container *ngIf="dataSource && adminExpertList.length > 0">
    <mat-form-field class="px-5 pt-5">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ</th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/experts/{{ row.id }}">{{ row.sys_user.firstname + ' ' + row.sys_user.lastname }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="expertType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>กลุ่ม</th>
        <td mat-cell *matCellDef="let row">{{ row.expert_type.name_th }}</td>
      </ng-container>

      <ng-container matColumnDef="expertise">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ความเชี่ยวชาญ</th>
        <td mat-cell *matCellDef="let row">{{ row.expertise.name_th }}</td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>จัดการ<mat-icon [className]="isDeleted ? 'd-inline-block' : 'd-none'"><mat-spinner color="primary" diameter="20"></mat-spinner></mat-icon></th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button routerLink="/experts/{{ row.id }}/edit" matTooltip="แก้ไขผู้เชี่ยวชาญ">
            <mat-icon class="info-icon">edit</mat-icon>
          </a>
          <a mat-icon-button (click)="deleteProject(row.id)" routerLink="/experts/{{ row.id }}/edit" matTooltip="ลบผู้เชี่ยวชาญ" color="warn">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 30]"></mat-paginator>
  </ng-container>
</div>