<div [formGroup]="integration_plans">  
    <ng-container *ngFor="let plan of integration_plans.controls;let i = index" [ngSwitch]="i">
      <app-subjects
        *ngSwitchCase="0"
        [plan]="plan.controls.plans"
        [index]="i" 
        [name]="integrationPlans[i].name_th">
      </app-subjects>
      <app-researchs
        *ngSwitchCase="1"
        [plan]="plan.controls.plans"
        [index]="i" 
        [name]="integrationPlans[i].name_th">
      </app-researchs>
      <app-cultures
        *ngSwitchCase="2"
        [plan]="plan.controls.plans"
        [index]="i" 
        [name]="integrationPlans[i].name_th">
      </app-cultures>
      <app-students
        *ngSwitchCase="3"
        [plan]="plan.controls.plans"
        [index]="i" 
        [name]="integrationPlans[i].name_th">
      </app-students>
    </ng-container>
  </div>