.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 64px;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 0;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.mat-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.mat-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-nav-list a.active {
  background: #673ab7 !important;
  color: white !important;
}