<footer class="ms-footer mt-5 pt-5">
  <div class="container">
    <a href="/landing"><img src="/assets/img/app-play-store.png" width="30%" height="50px"></a><BR>
    <p align="middle">ระบบทำงานได้ดีใน <a href="https://www.google.com/intl/th_ALL/chrome/">Chrome <i class="fa fa-chrome" aria-hidden="true"></i></a>&nbsp; และ <a href="https://www.mozilla.org/th/firefox/new/">FireFox <i class="fa fa-firefox" aria-hidden="true"></i></a></p>
    <p>Copyright &copy; โครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น ระยะ 20 ปี (พ.ศ.2560-2579)</p>
  </div>
</footer>