<div class="my-5 text-center" *ngIf="!otop" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" *ngIf="otop">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">รายการผลิตภัณฑ์ของฉัน</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
      <div class="card-body">        
        <mat-paginator 
          class="mb-5"
          [length]="otop.total"
          [pageSize]="otop.per_page"
          [showFirstLastButtons]="true"
          (page)="changePage($event)">
        </mat-paginator>
        <table class="table table-hover">
          <thead class="text-center">
            <tr>
              <th style="width: 40%;">ชื่อผลิตภัณฑ์</th>
              <th style="width: 20%;">ประเภท</th>
              <th style="width: 20%;">ตำบล</th>
              <th style="width: 20%;">จัดการ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of otop.data">
              <td class="text-center">
                <a routerLink="/otop/{{ product.id }}" class="color-primary">{{ product.name }}</a>                
              </td>

              <td class="text-center">
                {{ product.category.name_th }}
              </td>

              <td class="text-center">
                {{ 'ตำบล'+product.sub_district.sub_district_name_th+' อำเภอ'+product.sub_district.district.district_name_th+' จังหวัด'+product.sub_district.province.province_name_th }}
              </td>

              <td class="text-center">
                <a routerLink="/otop/{{ product.id }}/edit"  class="btn-circle btn-circle-sm btn-circle-raised btn-circle-info">
                  <i data-toggle="tooltip" data-placement="top" title="แก้ไข" class="fa fa-edit" aria-hidden="true"></i>
                </a>&nbsp;
                <a href="javascript:void(0)" (click)="deleteProduct(product.id)" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-danger">
                  <i data-toggle="tooltip" data-placement="top" title="ลบ" class="fa fa-close color-white" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>