<div class="ms-site-container mt-5">
<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
	<div class="container">
		<div class="text-center">
			<span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5"><img src="http://surin.srru.ac.th/images/srru-2.png" width="100%" alt=""></span>
			<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">สื่อวีดิทัศน์
			</h1>
			<p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">โครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏ
				<span class="color-warning">เพื่อการพัฒนาท้องถิ่น</span> ระยะ 20 ปี (พ.ศ.2560-2579)</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="d-flex flex-column">
			  <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
	   <div class="card-header">
	    <h3 class="card-title"><i class="zmdi zmdi-youtube-play"></i> พลเอกดาว์พงษ์ รัตนสุวรรณ องคมนตรี และคณะลงพื้นที่เยี่ยม มหาวิทยาลัยราชภัฏสุรินทร์</h3>
	     </div>
			<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="_W5zKOl8xMk" class="js-player"></div> -->
      <iframe width="100%" height="420" src="https://www.youtube.com/embed/_W5zKOl8xMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	  </div>
	 </div>
	 	</div>
</div>

	<div class="container">
	<section class="ms-component-section">
		<div class="row">
			<div class="col-md-12">
			<h2 class="section-title no-margin-top" align="middle"><a href="#"><i class="zmdi zmdi-collection-video"></i> สื่อวีดิทัศน์ทั้งหมด</a></h2>
			</div>
		</div>
		<hr class="dotted">
		<h2 class="section-title no-margin-top"><a href="#"><i class="zmdi zmdi-collection-video"></i> ล่าสุด</a></h2>
		<div class="row">
			<div class="col-md-6">
								<div class="card card-royal">
					<div class="card-header">
						<h3 class="card-title">
							<i class="zmdi zmdi-youtube-play"></i> สร้างเยาชนต้นกล้าจิตอาสา นำพัฒนาสังคม 2019</h3>
					</div>
					<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="R9H68dTbMdM" class="js-player"></div> -->
          <iframe width="100%" height="320" src="https://www.youtube.com/embed/R9H68dTbMdM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
							</div>
			<div class="col-md-6">
								<div class="card card-royal">
					<div class="card-header">
						<h3 class="card-title">
							<i class="zmdi zmdi-youtube-play"></i> โครงการจัดทำบัญชีครัวเรือนเพื่อลดต้นทุนทางการเกษตร ในการผลิตปุ๋ยอินทรีย์แบบไม่พลิกกลับกอง</h3>
					</div>
					<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="ZDyhh6lBxU8" class="js-player"></div> -->
          <iframe width="100%" height="320" src="https://www.youtube.com/embed/ZDyhh6lBxU8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
								<div class="card card-royal">
					<div class="card-header">
						<h3 class="card-title">
							<i class="zmdi zmdi-youtube-play"></i> การผลิตเมล็ดพันธุ์ข้าวสำหรับเพาะปลูกในครัวเรือน</h3>
					</div>
					<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="ZDyhh6lBxU8" class="js-player"></div> -->
					<iframe width="100%" height="320" src="https://www.youtube.com/embed/unHDVP3WssA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>				</div>
			</div>
			<div class="col-md-6">
								<div class="card card-royal">
					<div class="card-header">
						<h3 class="card-title">
							<i class="zmdi zmdi-youtube-play"></i> โครงการราชภัฎจิตอาสาเพื่อการพัฒนาท้องถิ่น บ้านหนองคันนา</h3>
					</div>
					<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="ZDyhh6lBxU8" class="js-player"></div> -->
					<iframe width="100%" height="320" src="https://www.youtube.com/embed/TyOyhPcZnVU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
								<div class="card card-royal">
					<div class="card-header">
						<h3 class="card-title">
							<i class="zmdi zmdi-youtube-play"></i> ขั้นตอนและวิธีการอัพโหลดข้อเสนอโครงการ</h3>
					</div>
					<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="ZDyhh6lBxU8" class="js-player"></div> -->
					<iframe width="100%" height="320" src="https://www.youtube.com/embed/mNbjozVG3BY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>				</div>
			</div>
			<div class="col-md-6">
								<div class="card card-royal">
					<div class="card-header">
						<h3 class="card-title">
							<i class="zmdi zmdi-youtube-play"></i> ขั้นตอนการประเมินโครงการในระบบ SRRU Big Data</h3>
					</div>
					<!-- <div data-plyr-provider="youtube" data-plyr-embed-id="v2UweZ3kJBI" class="js-player"></div> -->
          <iframe width="100%" height="320" src="https://www.youtube.com/embed/v2UweZ3kJBI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
							</div>
		</div>


<!-- start -->

			<!-- card-code -->
	</section>
	<!-- ms-paper-content -->
</div>
