<div class="my-5 text-center" style="height: 100vh;" *ngIf="!experts && !expertises">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" *ngIf="experts && expertises">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">ผู้เชี่ยวชาญ</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-hero card-primary">
      <ul class="nav nav-tabs nav-tabs-primary nav-tabs-full nav-tabs-4 indicator-dark" role="tablist">
        <li class="nav-item"><a class="nav-link withoutripple active" href="#all" aria-controls="all" role="tab" data-toggle="tab"><i class="zmdi zmdi-group-work"></i> <span class="d-none d-sm-inline">ทั้งหมด</span></a></li>
        <li class="nav-item"><a class="nav-link withoutripple" href="#inside" aria-controls="inside" role="tab" data-toggle="tab"><i class="zmdi zmdi-graduation-cap"></i> <span class="d-none d-sm-inline">ในมหาวิทยาลัย</span></a></li>
        <li class="nav-item"><a class="nav-link withoutripple" href="#outside" aria-controls="outside" role="tab" data-toggle="tab"><i class="zmdi zmdi-pin-drop"></i> <span class="d-none d-sm-inline">ในพื้นที่</span></a></li>
        <li class="nav-item"><a class="nav-link withoutripple" href="#villager" aria-controls="villager" role="tab" data-toggle="tab"><i class="zmdi zmdi-home"></i> <span class="d-none d-sm-inline">ปราชญ์ชาวบ้าน</span></a></li>
      </ul>

      <div class="card-body px-5 py-2">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade active show" id="all">
            <div class="row">
              <mat-form-field class="col">
                <mat-label>เลือกประเภทความเชี่ยวชาญ</mat-label>
                <mat-select (selectionChange)="selectExpertise($event.value)" [formControl]="expertSelect">
                  <mat-option [value]='0'>ทั้งหมด</mat-option>
                  <mat-option *ngFor="let expertise of expertises" [value]="expertise.id">{{ expertise.name_th }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col">
                <mat-icon matSuffix>search</mat-icon>
                <input type="text" matInput placeholder="ค้นหา ชื่อ-นามสกุล" [formControl]="search">                
              </mat-form-field>
            </div>

            <div class="row d-flex justify-content-center">
              <div class="col-lg-4 col-sm-6" *ngFor="let expert of experts">
                <div [className]="'card mt-4 card-'+expert_type_color[expert.expert_type.id]+' wow zoomInUp'">
                  <div [className]="'ms-hero-bg-'+expert_type_color[expert.expert_type.id]+' ms-hero-img-city'">
                    <img src="https://surin.srru.ac.th/app/images/users/avatar/{{ expert.sys_user.profile_image }}" alt="..." class="img-avatar-circle"> </div>
                  <div class="card-body pt-6 text-center">
                    <h3 [className]="'color-'+expert_type_color[expert.expert_type.id]">{{ expert.sys_user.firstname + ' ' + expert.sys_user.lastname}}</h3>
                    <div class="row"><span [className]="'mx-auto badge badge-'+expert_type_color[expert.expert_type.id]+' my-1'">{{ expert.expert_type.name_th }}</span></div>
                    <div class="row"><span class="mx-auto badge badge-info my-1">{{ expert.expertise.name_th }}</span></div>
                    <div class="row mt-2">
                      <div class="col text-center">
                        <a routerLink="/experts/{{ expert.id }}"  [className]="'btn btn-raised btn-sm btn-'+expert_type_color[expert.expert_type.id]">
                          <i class="zmdi zmdi-account"></i> ดูข้อมูล</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="inside">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-4 col-sm-6" *ngFor="let expert of filter(2)">
                <div [className]="'card mt-4 card-'+expert_type_color[expert.expert_type.id]+' wow zoomInUp'">
                  <div [className]="'ms-hero-bg-'+expert_type_color[expert.expert_type.id]+' ms-hero-img-city'">
                    <img src="/app/images/users/avatar/{{ expert.sys_user.profile_image }}" alt="..." class="img-avatar-circle"> </div>
                  <div class="card-body pt-6 text-center">
                    <h3 [className]="'color-'+expert_type_color[expert.expert_type.id]">{{ expert.sys_user.firstname + ' ' + expert.sys_user.lastname}}</h3>
                    <div class="row"><span [className]="'mx-auto badge badge-'+expert_type_color[expert.expert_type.id]+' my-1'">{{ expert.expert_type.name_th }}</span></div>
                    <div class="row"><span class="mx-auto badge badge-info my-1">{{ expert.expertise.name_th }}</span></div>
                    <div class="row mt-2">
                      <div class="col text-center">
                        <a routerLink="/experts/{{ expert.id }}"  [className]="'btn btn-raised btn-sm btn-'+expert_type_color[expert.expert_type.id]">
                          <i class="zmdi zmdi-account"></i> ดูข้อมูล</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="outside">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-4 col-sm-6" *ngFor="let expert of filter(1)">
                <div [className]="'card mt-4 card-'+expert_type_color[expert.expert_type.id]+' wow zoomInUp'">
                  <div [className]="'ms-hero-bg-'+expert_type_color[expert.expert_type.id]+' ms-hero-img-city'">
                    <img src="/app/images/users/avatar/{{ expert.sys_user.profile_image }}" alt="..." class="img-avatar-circle"> </div>
                  <div class="card-body pt-6 text-center">
                    <h3 [className]="'color-'+expert_type_color[expert.expert_type.id]">{{ expert.sys_user.firstname + ' ' + expert.sys_user.lastname}}</h3>
                    <div class="row"><span [className]="'mx-auto badge badge-'+expert_type_color[expert.expert_type.id]+' my-1'">{{ expert.expert_type.name_th }}</span></div>
                    <div class="row"><span class="mx-auto badge badge-info my-1">{{ expert.expertise.name_th }}</span></div>
                    <div class="row mt-2">
                      <div class="col text-center">
                        <a routerLink="/experts/{{ expert.id }}"  [className]="'btn btn-raised btn-sm btn-'+expert_type_color[expert.expert_type.id]">
                          <i class="zmdi zmdi-account"></i> ดูข้อมูล</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="villager">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-4 col-sm-6" *ngFor="let expert of filter(3)">
                <div [className]="'card mt-4 card-'+expert_type_color[expert.expert_type.id]+' wow zoomInUp'">
                  <div [className]="'ms-hero-bg-'+expert_type_color[expert.expert_type.id]+' ms-hero-img-city'">
                    <img src="/app/images/users/avatar/{{ expert.sys_user.profile_image }}" alt="..." class="img-avatar-circle"> </div>
                  <div class="card-body pt-6 text-center">
                    <h3 [className]="'color-'+expert_type_color[expert.expert_type.id]">{{ expert.sys_user.firstname + ' ' + expert.sys_user.lastname}}</h3>
                    <div class="row"><span [className]="'mx-auto badge badge-'+expert_type_color[expert.expert_type.id]+' my-1'">{{ expert.expert_type.name_th }}</span></div>
                    <div class="row"><span class="mx-auto badge badge-info my-1">{{ expert.expertise.name_th }}</span></div>
                    <div class="row mt-2">
                      <div class="col text-center">
                        <a routerLink="/experts/{{ expert.id }}"  [className]="'btn btn-raised btn-sm btn-'+expert_type_color[expert.expert_type.id]">
                          <i class="zmdi zmdi-account"></i> ดูข้อมูล</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>  
</div>