.aqi-green {
  background: #55de69;
  color: white;
}
.aqi-yellow {
  background: #f7ff2e;
  color: black;
}
.aqi-orange {
  background: #ffcb39;
  color: white;
}
.aqi-red {
  background: #ff4141;
  color: white;
}
.aqi-purple {
  background: #b049ef;
  color: white;
}
.aqi-over {
  background: #4a00ca;
  color: white;
}