<div [formGroup]="form">
  <div class="d-flex form-group my-0" >
    <mat-checkbox class="flex-grow-1" formControlName="status" color="primary">{{ name }}</mat-checkbox>
    <a *ngIf="form.get('status').value" href="javascript:void(0)" class="btn btn-xs btn-raised btn-success my-0 animated fadeIn" (click)="addPlan($event)">
      <i class="fa fa-plus"></i>
      เพิ่มแผน
    </a>
  </div>
  <div class="animated fadeInDown" *ngIf="form.get('status').value">
    <ng-container *ngFor="let subject of plans.controls; let i = index">
      <app-subject
        [subject]="subject" 
        [index]="i"
        
        (planRemoved)="removePlan($event)">
      </app-subject>
    </ng-container>
  </div>
</div>