<div [formGroup]="form">
  <div class="form-row">
    <mat-form-field class="col-2">
      <mat-label>อำเภอ</mat-label>
      <mat-select (selectionChange)="loadSubDistricts($event)">
        <mat-option *ngFor="let district of districts" [value]="district.id">
            {{ district.district_name_th }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <div class="form-group col-2">
      <select class="form-control" (change)="loadSubDistricts($event)">
        <option selected disabled>อำเภอ</option>
        <ng-container *ngFor="let district of districts">
          <option [value]="district.id">{{ district.district_name_th }}</option>
        </ng-container>
      </select>
    </div> -->
    <div class="form-group col-2">
      <select class="form-control" formControlName="sub_district_id" (change)="loadVillages($event)">
        <option selected disabled>ตำบล</option>
        <ng-container *ngFor="let sub_district of subDistrictArr[index]">
          <option [value]="sub_district.id">{{ sub_district.sub_district_name_th }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-2">
      <select class="form-control" formControlName="village_id">
        <option selected disabled>หมู่บ้าน</option>
        <ng-container *ngFor="let village of villageArr[index]">
          <option [value]="village.id">{{ village.village_name_th }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-5">
      <input type="text" class="form-control" formControlName="address" placeholder="หมู่ที่/ชือโรงเรียน/ชื่อวัด/อื่นๆ">
    </div>
    <div class="form-group col-1 text-center">
      <a *ngIf="index > 0" href="javascript:void(0)" class="btn-circle btn-circle-xs btn-circle-danger py-0 px-2" (click)="removeTargetArea()"><i class="fa fa-close m-0"></i></a>
    </div>
  </div>
</div>