<app-header [currentUser]="currentUser" (isLogout)="logout()"></app-header>

<div id="ms-preload" class="ms-preload">
  <div id="status">
    <div class="spinner">
      <div class="dot1"></div>
      <div class="dot2"></div>
    </div>
  </div>
</div>

<div id="ajax-spinner" class="spinner" style="display: none;">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>

<div class="btn-back-top">
  <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised">
    <i class="zmdi zmdi-long-arrow-up"></i>
  </a>
</div>

<div class="fix-h">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
