<div [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-1">
      <select class="form-control" formControlName="prefix_id">
        <option selected disabled>คำนำหน้า</option>
        <ng-container *ngFor="let prefix of prefixName">
          <option [value]="prefix.id">{{ prefix.prefix_th }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-3">
      <input type="text" class="form-control" formControlName="firstname" placeholder="ชื่อ">
    </div>
    <div class="form-group col-3">
      <input type="text" class="form-control" formControlName="lastname" placeholder="นามสกุล">
    </div>
    <div class="form-group col-2">
      <select class="form-control" formControlName="group_id">
        <option selected disabled>เลือกกลุ่ม</option>
        <ng-container *ngFor="let group of userGroup">
          <option [value]="group.id">{{ group.name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-2">
      <input type="text" class="form-control" formControlName="tel" maxlength="10" placeholder="เบอร์โทรศัพท์">
    </div>
    <div class="form-group col-1 text-center">
      <a *ngIf="index > 0" href="javascript:void(0)" class="btn-circle btn-circle-xs btn-circle-danger py-0 px-2" (click)="removeExtStaff()"><i class="fa fa-close m-0"></i></a>
    </div>
  </div>
</div>
<p class="color-danger" *ngIf="formErrors.tel">{{ formErrors.tel }}</p>
<p class="color-danger" *ngIf="formErrors.firstname">{{ formErrors.firstname }}</p>
<p class="color-danger" *ngIf="formErrors.lastname">{{ formErrors.lastname }}</p>