<div [formGroup]="form">
  <div class="form-row">
    <div class="form-group col-3">
      <select class="form-control" (change)="loadSubFaculty($event)">
        <option selected disabled>เลือกคณะ</option>
        <ng-container *ngFor="let fac of faculty">
          <option [value]="fac.id">{{ fac.fac_name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-2">
      <select class="form-control" (change)="loadBranch($event)">
        <option selected disabled>เลือกหน่วยงาน</option>
        <ng-container *ngFor="let sub_fac of subSubFacultyArr[index]">
          <option [value]="sub_fac.id">{{ sub_fac.sub_fac_name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-2">
      <select class="form-control" (change)="loadStaff($event)">
        <option selected disabled>เลือกสาขา</option>
        <ng-container *ngFor="let branch of subBranchArr[index]">
          <option [value]="branch.ref_program.id">{{ branch.ref_program.program_name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-4">
      <select class="form-control" formControlName="mis_id">
        <option selected disabled>เลือกบุคลากร</option>
        <ng-container *ngFor="let staff of subStaffArr[index]">
          <option [value]="staff.id">{{ staff.ref_prefix_name.fullname+staff.display_name }}</option>
        </ng-container>
      </select>
    </div>
    <div class="form-group col-1 text-center">
      <a *ngIf="index > 0" href="javascript:void(0)" class="btn-circle btn-circle-xs btn-circle-danger py-0 px-2" (click)="removeStaff()"><i class="fa fa-close m-0"></i></a>
    </div>
  </div>
</div>