<div [formGroup]="form">
  <div class="form-row">
    <mat-form-field class="col-3">
      <mat-label>เลือกคณะ</mat-label>
      <mat-select formControlName="fac_id" (selectionChange)="loadSubFaculty($event)">
        <mat-option *ngFor="let fac of faculty" [value]="fac.id">
            {{ fac.fac_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-2">
      <mat-label>เลือกหน่วยงาน</mat-label>
      <mat-select formControlName="sub_fac_id" (selectionChange)="loadBranch($event)">
        <mat-option *ngFor="let sub_fac of subSubFacultyArr[index]" [value]="sub_fac.id">
            {{ sub_fac.sub_fac_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-2">
      <mat-label>เลือกสาขา</mat-label>
      <mat-select formControlName="branch_id" (selectionChange)="loadStaff($event)">
        <mat-option *ngFor="let branch of subBranchArr[index]" [value]="branch.ref_program.id">
            {{ branch.ref_program.program_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4">
      <mat-label>เลือกบุคลากร</mat-label>
      <mat-select formControlName="mis_id">
        <mat-option *ngFor="let staff of subStaffArr[index]" [value]="staff.id">
            {{ staff.ref_prefix_name.fullname+staff.display_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button color="warn" class="col-1" *ngIf="index > 0" (click)="removeStaff()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>