<div class="my-5 text-center" *ngIf="!currentUser" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<ng-container *ngIf="currentUser">
  <div class="container">
    <div class="text-center color-dark mw-800 center-block mb-4">
      <h1 class="mb-2 wow fadeInDown animation-delay-4">{{ currentUser.info.display_name }}</h1>
      <h2 class="mb-2 wow fadeInDown animation-delay-4">{{ currentUser.info.email }}</h2>
    </div>

    <!-- <app-admin
      *ngIf="currentUser.roles.admin"
      [currentUser]="currentUser"
      [adminProjectList]="adminProjectList"
      [adminExpertList]="adminExpertList"
      [adminOtopList]="adminOtopList"
      [adminVillageHeadmanUserList]="adminVillageHeadmanUserList"
    ></app-admin> -->

    <app-srru-personnel
      *ngIf="currentUser.roles.srru_personnel && myProjectList"
      [currentUser]="currentUser"
      [myProjectList]="myProjectList"
      (projectDeleted)="deleteProject($event)"
    ></app-srru-personnel>

    <app-assessor
      *ngIf="currentUser.roles.project_assessor && myEvaluationList"
      [currentUser]="currentUser"
      [myEvaluationList]="myEvaluationList"
    ></app-assessor>

    <app-village-headman
      *ngIf="currentUser.roles.village_headman && families"
      [currentUser]="currentUser"
      [families]="families"
    ></app-village-headman>

    
  </div>
</ng-container>