<div class="ms-site-container mt-5" >
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2">ฐานข้อมูล ThaiQM</h1>
        <h3 class="color-medium no-mb">จังหวัดสุรินทร์</h3>
      </div>
    </div>
  </div>

  <BR>

    <div class="card card-success-inverse wow" *ngIf="qmp1">
      <div class="text-center card-body">
        <h1> {{ qmp1.updated_at }} </h1>
      </div>
    </div>

    <div class="container mt-4" *ngIf="qmp1">

      <div class="row">
        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-4" style="visibility: visible; animation-name: flipInX;">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info">
              <i class="zmdi zmdi-assignment-o"></i>
            </span>
            <h1 class="color-info">ผู้ได้รับผลกระทบ</h1>
            <h1 class="color-info">{{ qmp1.total_data | number }} คน</h1>
            <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Action here</a> -->
          </div>
        </div>
        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-8" style="visibility: visible; animation-name: flipInX;">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning">
              <i class="zmdi zmdi-accounts-list-alt"></i>
            </span>
            <h1 class="color-warning">จำนวน</h1>
            <h1 class="color-warning">{{ qmp1.total_family | number }} ครอบครัว</h1>
            <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a> -->
          </div>
        </div>
        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-10" style="visibility: visible; animation-name: flipInX;">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success">
              <i class="zmdi zmdi-pin-drop"></i>
            </span>
            <h1 class="color-success">เชิงพื้นที่</h1>
            <h1 class="color-success">{{ qmp1.total_acode | number }} อำเภอ/ {{ qmp1.total_tcode | number }} ตำบล/ {{ qmp1.total_mcode | number }} หมู่บ้าน</h1>

            <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-success btn-raised">Action here</a> -->
          </div>
        </div>
        <div class="ms-feature col-xl-3 col-lg-6 col-md-6 card wow flipInX animation-delay-6" style="visibility: visible; animation-name: flipInX;">
          <div class="text-center card-body">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger">
              <i class="zmdi zmdi-face"></i>
            </span>
            <h1 class="color-danger">เพศ</h1>
            <h1 class="color-danger">ชาย {{ qmp1.male | number }} คน/หญิง {{ qmp1.female | number }} คน</h1>

            <!-- <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p> -->
            <!-- <a href="javascript:void(0)" class="btn btn-danger btn-raised">Action here</a> -->
          </div>
        </div>
      </div>

  </div>

  <div class="container mt-4">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">
          <i class="zmdi zmdi-graduation-cap"></i>ข้อมูลการได้รับผลกระทบจากมาตรการป้องกันแก้ไขปัญหาโควิด-19</h3>
      </div>
      <div id="effectChart" style="width: 100%; height: 650px"></div>

<!-- 
      <div class="row">
        <div class="col">
          <div class="card card-warning-inverse wow fadeInLeft animation-delay-4" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="text-center card-body">
              <h4 class="">ถูกเลิกจ้าง (มีประกันสังคม)</h4>
              <p class=""> xx รายการ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-warning-inverse wow fadeInLeft animation-delay-4" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="text-center card-body">
              <h4 class="">ถูกเลิกจ้าง (ไม่มีประกันสังคม)</h4>
              <p class=""> xx รายการ</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-warning-inverse wow fadeInLeft animation-delay-4" style="visibility: visible; animation-name: fadeInLeft;">
            <div class="text-center card-body">
              <h4 class="">ถูกนายจ้างลดวัน/เวลาทำงาน</h4>
              <p class=""> 15 ด้าน</p>
            </div>
          </div>
        </div>
      </div> -->

    </div>
    <div class="card card-primary" *ngIf="qmp3">
      <div class="card-header">
        <h3 class="card-title">
          <i class="zmdi zmdi-graduation-cap"></i>ต้องการความช่วยเหลือ</h3>
      </div>

      <table class="table table-no-border table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>ความต้องการ</th>
            <th>จำนวน (คน)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let qm of qmp3;let xx = index ">
            <td>{{ xx+1 }}</td>
            <td>{{ qm.need }}</td>
            <td>{{ qm.count }}</td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">
          <i class="zmdi zmdi-graduation-cap"></i>ต้องการความช่วยเหลือ</h3>
      </div>

    
    </div> -->



  </div>
<!-- 
  <div class="container" fxLayout="column">
    <div fxFlex="1 1 100%" >

    <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="9">
      <ng-container *ngFor="let drop of qmp4">
        <agm-marker [latitude]="lat" [longitude]="lng" (mouseOver)="markerMouseOver(drop,gm)">
          <agm-info-window [disableAutoPan]="false">
            <h3>หมู่บ้าน </h3>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-map>
    </div>
  </div> 

-->


</div>

<div class="container" *ngIf="thqmp4">
  <div class="card">
    <div class="card-body p-2">

      <div class="justify-content-center text-center flex-grow-1 mt-5">
        <p><mat-icon [className]="!ready ? 'd-inline-block' : 'd-none'"><mat-spinner color="primary" diameter="20"></mat-spinner></mat-icon></p>
        <a *ngFor="let district of districts" href="javascript:void(0)" (click)="changeDistrict(district)" [className]="district.acode == default_acode ? 'btn btn-xs btn-default btn-raised' : 'btn btn-xs btn-default'" > <p *ngIf="district.district">{{district.district.district_name_th}}</p></a>
      </div>

      <agm-map #gm [latitude]="lat" [longitude]="lng" [zoom]="9">
        <ng-container *ngFor="let droppp of thqmp4">
          <agm-marker *ngIf="droppp.village" [latitude]="droppp.village.latitude" [longitude]="droppp.village.longitude" (mouseOver)="markerMouseOver(weatherInfoWindow,gm)">
            <agm-info-window [disableAutoPan]="false" #weatherInfoWindow>
              <h3> {{ droppp.village.village_name_th }}, {{ droppp.sub_district.sub_district_name_th }}, อำเภอ{{ droppp.district.district_name_th }}</h3>
              <p><strong>รายได้/วัน:</strong> {{ droppp.income_day | number }} บาท</p>
              <p><strong>รายได้/เดือน:</strong> {{ droppp.income_month | number }} บาท</p>
              <h3 class="h5 text-right mx-5"><strong><a routerLink="/info/thaiqm/{{droppp.mcode}}" class="text-info">ดูข้อมูล</a></strong></h3>
            </agm-info-window>
          </agm-marker>
        </ng-container>
      </agm-map>


    </div>
  </div>
</div>