<div class="my-5 text-center" *ngIf="!chief && !members">
  <mat-spinner class="mx-auto my-2"></mat-spinner>
  กำลังโหลดข้อมูล.
</div>

<div mat-dialog-content *ngIf="chief && members"> 
  <table class="table table-no-border table-striped">
    <thead>
      <tr>
        <th>ชื่อ-สกุล</th>
        <th>อาชีพ</th>
        <th>จัดการ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="javascript:void(0)" (click)="navigate(chief.id, 1)">{{ chief.firstname + ' ' + chief.lastname }}</a></td>
        <td>{{ chief.family_occupation.name_th }}</td>
        <td>
          <a href="javascript:void(0)" (click)="createHealth(chief.id, 1)" mat-icon-button color="primary" matTooltip="สุขภาพ"><mat-icon>favorite</mat-icon></a>
        </td>
      </tr>
      <tr *ngFor="let member of members">
        <td><a href="javascript:void(0)" (click)="navigate(member.id, 2)">{{ member.firstname + ' ' + member.lastname }}</a></td>
        <td>{{ member.family_occupation.name_th }}</td>
        <td>
          <a href="javascript:void(0)" (click)="createHealth(member.id, 2)" mat-icon-button color="primary" matTooltip="สุขภาพ"><mat-icon>favorite</mat-icon></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  