<div class="container">
<h1 class="color-white text-center mb-4 color-dark">แนวทางการจัดทำส่งข้อเสนอโครงการ และพิจารณาข้อเสนอโครงการยุทธศาสตร์ มหาวิทยาลัยราชภัฏสุรินทร์เพื่อการพัฒนาท้องถิ่น ประจำปีงบประมาณ 2563</h1>
<div class="row">

  <div class="container container-full pt-6">
    <div class="card card-body card-body-big wow fadeInUp" id="timeline">
      <h3 class="text-center fw-500 mb-6"><strong>กำหนดการ</strong></h3>
      <ul class="ms-timeline-left">
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 1</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-success">1. พื้นที่ดำเนินโครงการ</h4>
           <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-check"></i> พฤศจิกายน 2562</time>
          </div>
          <span class="ms-timeline-left-city">ผู้รับผิดชอบโครงการ</span>
          <ul>
            <li>1.1 พื้นที่เดิมของคณะต่าง ๆ (สืบสานโครงการเดิมที่ตอบโจทย์พื้นที่ หรือเสริมโครงการใหม่เพื่อเติมเต็ม)</li>
            <li>1.2 พื้นที่ใหม่ที่มีศักยภาพในการพัฒนา</li>
          </ul>
          <p>** ศึกษาและวิเคราะห์ข้อมูลทั้งข้อมูลปฐมภูมิและข้อมูลทุติยภูมิ</p>

        </li>
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 2</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-success">2. รูปแบบ/การจัดทำข้อเสนอโครงการ</h4>
            <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-check"></i> พฤศจิกายน-ธันวาคม 2562</time>
          </div>
          <span class="ms-timeline-left-city">ระบบ SRRU Big Data</span>
          <ul>
            <li>2.1 ให้ใช้แบบฟอร์มข้อเสนอโครงการยุทธศาสตร์ฯ ของมหาวิทยาลัยราชภัฏสุรินทร์ **กรอกแบบฟอร์มข้อเสนอโครงการในระบบ SRRU Big Data <a href="https://surin.srru.ac.th">https://surin.srru.ac.th</a></li>
            <li>2.2 ชื่อหัวข้อโครงการต้องสอดคล้องกับยุทธศาสตร์ของมหาวิทยาลัยราชภัฏสุรินทร์และยุทธศาสตร์มหาวิทยาลัยราชภัฏ 20 ปี โดยแบ่งเป็น 2 กลุ่มโครงการ ดังนี้
              <p>1. โครงการที่มหาวิทยาลัยมอบหมายให้หน่วยงานเฉพาะเป็นผู้ดำเนินโครงการ ได้แก่ 1) โครงการจดแก้จน (คณะวิทยาการจัดการ) 2) โครงการจิตอาสา (ทุกคณะ) 3) โครงการยกระดับคุณภาพการศึกษา และพัฒนาทักษะภาษาอังกฤษ (คณะครุศาสตร์) 4) โครงการ Big Data/ข้อมูลตำบล (สถาบันวิจัยและพัฒนา) 5) โครงการจัดทำร้านสินค้าชุมชนและช่องทางการขายออนไลน์ (ศูนย์บ่มเพาะฯ)</p>
              <p>2. โครงการที่ผู้เสนอโครงการและหน่วยงานสามารถส่งข้อเสนอโครงการได้ต้องอยู่ในกรอบของโครงการหลัก ดังนี้ 1) พัฒนา/ยกระดับผลิตภัณฑ์ชุมชน 2) แก้ปัญหาความยากจน 3) รู้รักสามัคคี 4) บริบทมหาวิทยาลัย โดยต้องเป็นโครงการที่สอดคล้องกับพันธกิจของมหาวิทยาลัย หรือเป็นประเด็นใหม่ ได้แก่ (เสริมสร้างความเข้มแข็งให้ครอบครัวผู้รับบัตรสวัสดิการแห่งรัฐ/เสริมสร้างศักยภาพผู้สูงวัย/เสริมสร้างความเข้มแข็งให้ SME/ส่งเสริมการท่องเที่ยว)</p>
            </li>
            <li>2.3 รายละเอียดครบทุกหัวข้อและเป็นไปตามที่กำหนด และทุกโครงการต้องมีการระบุ/อธิบายถึงการวิเคราะห์พื้นที่เป้าหมายในการพัฒนา/ทำประชาคมร่วมกับคนในพื้นที่/ใช้ฐานข้อมูลจากระบบ <a href="https://surin.srru.ac.th">https://surin.srru.ac.th</a></li>
          <li>2.4 งบประมาณ ผ่านการตรวจสอบจากเจ้าหน้าที่การเงิน/พัสดุของคณะฯ ศูนย์/สำนักที่เสนอโครงการ และมีการลงลายมือชื่อรับรองในส่วนท้ายของข้อเสนอโครงการดังนี้ <img src="assets/img/bjchecklist.jpg" width="60%"></li>
          <li>2.5 การส่งข้อเสนอโครงการให้ส่งทั้ง 2 ช่องทาง ดังนี้
            <p>1. ส่งโครงการในระบบ <a href="https://surin.srru.ac.th">https://surin.srru.ac.th</a> โดยใส่ข้อมูลรายละเอียดโครงการให้ครบทุกหัวข้อ (ระบบเปิดรับโครงการระหว่างวันที่ 25 พฤศจิกายน – 5 ธันวาคม 62 *ระบบจะปิดรับข้อเสนอฯ เวลา 17.00 น.ของวันที่ 5 ธันวาคม 62)</p>
            <p>2. ให้ส่งข้อเสนอโครงการที่ปริ๊นท์ออกจากระบบ <a href="https://surin.srru.ac.th">https://surin.srru.ac.th</a> จำนวน 8 ชุด พร้อมบันทึกข้อความปะหน้าจากคณะ/ศูนย์/สำนักภายในวันศุกร์ที่ 6 ธันวาคม 2562 ก่อนเวลา 12.00 น. ที่สถาบันวิจัยและพัฒนา</p>
            <p>**ข้อเสนอโครงการที่ส่งมาทั้ง 2 ช่องทางต้องครบถ้วนตาม รายละเอียดในข้อ 2.1-2.5 โดยข้อเสนอโครงการใดที่ขาด ข้อใดข้อหนึ่งใน 2.1-2.5 จะไม่ได้เข้าสู่กระบวนการในการพิจารณาและเห็นชอบโครงการ</p>
            </li>
          </ul>
          <p>**แนวทางการจัดทำข้อเสนอของทุกโครงการให้คำนึงถึงข้อต่อไปนี้เป็นสำคัญ 1) การมีส่วนร่วมของนักศึกษาในกิจกรรมต่างๆ โดยมีอาจารย์เป็นที่ปรึกษา (นักศึกษาต้องสามารถรายงาน/นำเสนอผลการดำเนินโครงการได้เมื่อโครงการนั้นสิ้นสุดลง) 2) มีการบูรณาการกิจกรรมของโครงการร่วมกับภาคีเครือข่ายทั้งในและนอกมหาวิทยาลัย 3) ผลการดำเนินงานของโครงการสามารถวัดผลได้อย่างเป็นรูปธรรมตามตัวชี้วัดที่ระบุไว้ในข้อเสนอโครงการ</p>
        </li>
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 3</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-success">3. การพิจารณากลั่นกรองโครงการ</h4>
            <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-check"></i> ธันวาคม 2562</time>
          </div>
          <span class="ms-timeline-left-city">คณะกรรมการพิจารณาและกลั่นกรองโครงการ</span>
          <p>ดำเนินการโดย “คณะกรรมการพิจารณาและกลั่นกรองโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏสุรินทร์ ปี 2563” ที่แต่งตั้งโดยคำสั่งมหาวิทยาลัยราชภัฏสุรินทร์ ในวันพฤหัสบดีที่ 12 ธันวาคม 62</p>
        </li>
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 4</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-success">4. การอนุมัติโครงการ</h4>
            <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-alert"></i> ธันวาคม 2562</time>
          </div>
          <span class="ms-timeline-left-city">ระบบ SRRU Big Data</span>
          <ul>
            <li>4.1 ประกาศผลการพิจารณาข้อเสนอโครงการวันจันทร์ที่ 16 ธันวาคม 62 และให้รับข้อเสนอโครงการไปปรับแก้ไขตามข้อเสนอแนะของคณะกรรมการพิจารณาฯ ในวันเดียวกันตั้งแต่เวลา 9.00 น. เป็นต้นไป</li>
            <li>4.2 ปรับแก้ไขข้อเสนอโครงการในระบบ <a href="https://surin.srru.ac.th">https://surin.srru.ac.th</a> พร้อมส่งเอกสารมาที่สถาบันวิจัยฯ ภายในวันศุกร์ที่ 20 ธันวาคม 62 (ก่อนเวลา 12.00 น.) ดังนี้
            <p>1. บันทึกข้อความปะหน้าจากคณะฯ/ศูนย์/สำนัก</p>
            <p>2. ต้นฉบับข้อเสนอโครงการที่ปริ๊นท์จากระบบจำนวน 1 ชุด ลงลายมือชื่อให้ครบถ้วน งบประมาณต้องผ่านการตรวจสอบจากเจ้าหน้าที่การเงิน/พัสดุของคณะฯ ศูนย์/สำนักที่เสนอโครงการ และมีการลงลายมือชื่อรับรองในส่วนท้ายของข้อเสนอโครงการดังนี้ <br><img src="assets/img/bjchecklist.jpg" width="60%"></p>
            <!-- <p>3. แบบชี้แจงการแก้ไขข้อเสนอโครงการ</p> -->
            </li>
            <li>4.3 คณะกรรมการประสานงานฯ รวบรวมข้อเสนอโครงการในข้อ 4.2 เสนออธิการบดีเพื่ออนุมัติโครงการ</li>
          </ul>
          <p>**ต้นฉบับข้อเสนอโครงการทุกโครงการต้องส่งมาที่สถาบันวิจัยฯ ภายในวันและเวลาที่กำหนดทั้งนี้เพื่อมิให้เกิดความล่าช้าในการเริ่มดำเนินโครงการ</p>
        </li>
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 5</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-success">5. การกำกับและติดตามผลของโครงการ<br>ที่ได้รับอนุมัติทุกโครงการ</h4>
            <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-alert"></i> ตลอดระยะเวลาดำเนินโครงการ</time>
          </div>
          <span class="ms-timeline-left-city">คณะกรรมการติดตามและประเมินผลโครงการยุทธศาสตร์ฯ</span>
          <p>ดำเนินการโดย “คณะกรรมการติดตามและประเมินผลโครงการยุทธศาสตร์ฯ” ที่แต่งตั้งโดยคำสั่งมหาวิทยาลัยราชภัฏสุรินทร์ </p>
        </li>
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 6</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-success">6. การประสานงาน</h4>
            <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-check"></i> ตลอดระยะเวลาดำเนินโครงการ</time>
          </div>
          <span class="ms-timeline-left-city">คณะกรรมการประสานงานและจัดการสารสนเทศโครงการยุทธศาสตร์ฯ</span>
          <p>การประสานงานในเรื่องที่เกี่ยวข้องกับการดำเนินโครงการยุทธศาสตร์ฯ ดำเนินการโดย “คณะกรรมการประสานงานและจัดการสารสนเทศโครงการยุทธศาสตร์ฯ” ที่แต่งตั้งโดยคำสั่งมหาวิทยาลัยราชภัฏสุรินทร์</p>
        </li>
        <li class="ms-timeline-left-item wow fadeInUp">
          <h4><strong>ขั้นตอนที่ 7</strong></h4>
          <div class="ms-timeline-left-left">
            <h4 class="color-warning">7. การรายงานผลโครงการ</h4>
            <time class="ms-timeline-left-time"><i class="zmdi zmdi-assignment-alert"></i> ตลอดระยะเวลาดำเนินโครงการ</time>
          </div>
          <span class="ms-timeline-left-city">ผู้รับผิดชอบโครงการ</span>
          <p>โครงการทุกโครงการที่ได้รับอนุมัติ ต้องรายงานผลการดำเนินโครงการเข้ามาใน <a href="https://surin.srru.ac.th">https://surin.srru.ac.th</a> ตามกำหนดเวลาที่สถาบันวิจัยและพัฒนากำหนด</p>
        </li>
      </ul>
    </div>
</div>

</div>
<div class="text-center color-white mw-800 center-block mt-4">
  <p class="lead lead-lg color-dark">ข้อมูลความจำเป็นพื้นฐาน (จปฐ./กชช. 2ค) กรมพัฒนาชุมชน กระทรวงมหาดไทย</p>
  <a href="http://ebmn.cdd.go.th" class="btn btn-lg btn-raised btn-white color-success wow flipInX animation-delay-8">
    <i class="fa fa-external-link" aria-hidden="true"></i> เข้าสู่เว็บไซต์ จปฐ./กชช. 2ค</a>
  <a href="/ebmn_manual" class="btn btn-lg btn-raised btn-white color-success wow flipInX animation-delay-8">
    <i class="fa fa-book" aria-hidden="true"></i> คู่มือใช้งานระบบ จปฐ./กชช. 2ค</a>
</div>
<BR>
</div>
<!-- </div> -->
