<div class="container">
<h1 class="color-white text-center mb-4 color-dark">ดาวน์โหลดข้อมูลความจำเป็นพื้นฐาน (จปฐ.) [NG Mode]</h1>
<div class="row">
  <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
  <!--	<a href="https://research.srru.ac.th/research/pdf/prasat.rar"><div class="card card-royal card-body overflow-hidden text-center wow zoomInUp animation-delay-2">-->
  <!--		<h2 class="counter">1</h2><p>หมู่บ้าน</p>-->
  <!--		<i class="fa fa-4x fa-home color-royal"></i>-->
  <!--		<p class="mt-2 no-mb lead small-caps">อำเภอปราสาท <i class="fa fa-cloud-download" aria-hidden="true"></i></p>-->
  <!--	</div></a>-->
  <!--</div>-->
  <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
  <!--	<a href="https://research.srru.ac.th/research/pdf/phanomdongrak.rar"><div class="card card-warning card-body overflow-hidden text-center wow zoomInUp animation-delay-5">-->
  <!--		<h2 class="counter">1</h2><p>หมู่บ้าน</p>-->
  <!--		<i class="fa fa-4x fa-home color-warning"></i>-->
  <!--		<p class="mt-2 no-mb lead small-caps">อำเภอพนมดงรัก <i class="fa fa-cloud-download" aria-hidden="true"></i></p>-->
  <!--	</div></a>-->
  <!--</div>-->
  <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
  <!--	<a href="https://research.srru.ac.th/research/pdf/sikhoraphum.rar"><div class="card card-danger card-body overflow-hidden text-center wow zoomInUp animation-delay-4">-->
  <!--		<h2 class="counter">14</h2><p>หมู่บ้าน</p>-->
  <!--		<i class="fa fa-4x fa-home color-danger"></i>-->
  <!--		<p class="mt-2 no-mb lead small-caps">อำเภอศีขรภูมิ <i class="fa fa-cloud-download" aria-hidden="true"></i></p>-->
  <!--	</div></a>-->
  <!--</div>-->
  <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
  <!--	<a href="https://research.srru.ac.th/research/pdf/lamduan.rar"><div class="card card-success card-body overflow-hidden text-center wow zoomInUp animation-delay-3">-->
  <!--		<h2 class="counter">11</h2><p>หมู่บ้าน</p>-->
  <!--		<i class="fa fa-4x fa-home color-success"></i>-->
  <!--		<p class="mt-2 no-mb lead small-caps">อำเภอลำดวน <i class="fa fa-cloud-download" aria-hidden="true"></i></p>-->
  <!--	</div></a>-->
  <!--</div>-->
  <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
  <!--	<a href="https://research.srru.ac.th/research/pdf/buached.rar"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">-->
  <!--		<h2 class="counter">3</h2><p>หมู่บ้าน</p>-->
  <!--		<i class="fa fa-4x fa-home color-info"></i>-->
  <!--		<p class="mt-2 no-mb lead small-caps">อำเภอบัวเชด <i class="fa fa-cloud-download" aria-hidden="true"></i></p>-->
  <!--	</div></a>-->
  <!--</div>-->
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="http://www.gprocurement.go.th/wps/wcm/connect/04245445-9e18-49c6-bb05-dca65ecbaffe/%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%9A%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B8%81%E0%B8%A3%E0%B8%B0%E0%B8%97%E0%B8%A3%E0%B8%A7%E0%B8%87%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%84%E0%B8%A5%E0%B8%B1%E0%B8%87+%E0%B8%9E%E0%B8%A82560.pdf?MOD=AJPERES&CACHEID=ROOTWORKSPACE-04245445-9e18-49c6-bb05-dca65ecbaffe-mvEEpo-"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-pdf-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">ระเบียบกระทรวงการคลังว่าด้วยการจัดซื้อจัดจ้างและการบริหารพัสดุภาครัฐ พ.ศ. 2560 <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="files/2560.pdf"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-pdf-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">ระเบียบกระทรวงการคลัง ว่าด้วยค่าใช้จ่ายในการฝึกอบรม การจัดงาน และการประชุมระหว่างประเทศ พ.ศ. 2549 และฉบับแก้ไขเพิ่มเติม (ถึงฉบับที่ 3 พ.ศ.2555) <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="files/budget-plan2561.pdf"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-pdf-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">หลักเกณฑ์ อัตราค่าใช้จ่าย และแนวทางการพิจารณางบประมาณรายจ่ายประจำปี 2561  <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="files/priority1-5.pdf"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-pdf-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">ประชุมแลกเปลี่ยนข้อมูลบริบทพื้นที่เพื่อการบูรณาการโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น 18  มกราคม  2562  <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="files/report2562.docx"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-word-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">แบบ รายงานผลการดำเนินงานโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น ประจำปีงบประมาณ 2562  <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="https://research.srru.ac.th/research/?page_id=1617"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-archive-o color-dark"></i>
      <!--<i class="fa fa-file-archive-o" aria-hidden="true"></i>-->
      <p class="mt-2 no-mb lead small-caps">แบบฟอร์มจัดซื้อ จัดจ้าง เบิกจ่าย สำหรับงานวิจัย  <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="files/survey.rar"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-archive-o color-dark"></i>
      <!--<i class="fa fa-file-archive-o" aria-hidden="true"></i>-->
      <p class="mt-2 no-mb lead small-caps">แบบฟอร์มขออนุญาตไปราชการเพื่อร่วมติดตามประเมินโครงการฯ  <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="/files/proposal_template.docx"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-word-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">แบบเสนอโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="/files/self_assessment_report.doc"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-word-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">แบบประเมินโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏสุรินทร์เพื่อการพัฒนาท้องถิ่น ปีงบประมาณ 2562 <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <a href="files/manual_srrubigdata.pdf"><div class="card card-info card-body overflow-hidden text-center wow zoomInUp animation-delay-3">
      <!-- <h2 class="counter">3</h2><p>หมู่บ้าน</p> -->
      <i class="fa fa-4x fa-file-pdf-o color-dark"></i>
      <p class="mt-2 no-mb lead small-caps">คู่มือโครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น ระยะ 20 ปี (พ.ศ. 2560-2579) ประจำปีงบประมาณ 2562  <i class="fa fa-cloud-download" aria-hidden="true"></i></p>
    </div></a>
  </div>
          <!--<a href="/files/proposal_template.docx" target="_blank">proposal template</a>-->

</div>
<div class="text-center color-white mw-800 center-block mt-4">
  <p class="lead lead-lg color-dark">ข้อมูลความจำเป็นพื้นฐาน (จปฐ.) กรมพัฒนาชุมชน กระทรวงมหาดไทย</p>
  <a href="http://ebmn.cdd.go.th" class="btn btn-lg btn-raised btn-white color-success wow flipInX animation-delay-8">
    <i class="fa fa-external-link" aria-hidden="true"></i> เข้าสู่เว็บไซต์ จปฐ.</a>
  <a href="/ebmn_manual" class="btn btn-lg btn-raised btn-white color-success wow flipInX animation-delay-8">
    <i class="fa fa-book" aria-hidden="true"></i> คู่มือใช้งานระบบ จปฐ.</a>
</div>
<BR>
</div>
<!-- </div> -->
