<div class="animated fadeInDown" [formGroup]="form">
  <div class="form-row">
    <div class="form-group my-0 col-12">
      <input required type="text" class="form-control" formControlName="research_name" placeholder="งานวิจัยเรื่อง">
    </div>
  </div>
  <div class="form-group my-0 row">
    <label class="col-2 control-label text-left"><strong>สถานะของงานวิจัย</strong></label>
    <div class="col-10">
      <select required formControlName="research_status" class="form-control" data-dropup-auto="false">
        <option selected disabled>เลือกสถานะ</option>
        <option value="ดำเนินการเสร็จสิ้นแล้ว">ดำเนินการเสร็จสิ้นแล้ว</option>
        <option value="อยู่ระหว่างดำเนินการ">อยู่ระหว่างดำเนินการ</option>
        <option value="พัฒนาหัวข้อวิจัย">พัฒนาหัวข้อวิจัย</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group my-0 col-11">
      <input required type="text" class="form-control" formControlName="plan" placeholder="ลักษณะการบูรณาการ">
    </div>
    <div class="form-group col-1 text-center">
      <a *ngIf="index > 0" href="javascript:void(0)" class="btn-circle btn-circle-xs btn-circle-danger py-0 px-2" (click)="removePlan()"><i class="fa fa-close m-0"></i></a>
    </div>
  </div>
</div>
<p class="color-danger" *ngIf="formErrors.research_name">{{ formErrors.research_name }}</p>
<p class="color-danger" *ngIf="formErrors.research_status">{{ formErrors.research_status }}</p>
<p class="color-danger" *ngIf="formErrors.plan">{{ formErrors.plan }}</p>