<div class="my-5 text-center" *ngIf="!formReady && !project" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" *ngIf="formReady && project">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{ title }}</h1>
        <h3 class="color-medium no-mb animated fadeInUp animation-delay-10">{{ project.project_name }}</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
      <div class="card-body">        
        <form [formGroup]="form">

          <h3 [className]="formErrors.name ? 'color-danger' : ''">1. ชื่อกิจกรรม</h3>
          <mat-form-field class="w-100 px-5">
            <mat-label>ชื่อกิจกรรม</mat-label>
            <input matInput formControlName="name" required>
            <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
          </mat-form-field>
          
          <h3 [className]="formErrors.description ? 'color-danger mt-2' : 'mt-2'">2. รายละเอียดกิจกรรม</h3>
          <mat-form-field class="w-100 px-5">
            <mat-label>รายละเอียดกิจกรรม</mat-label>
            <textarea matInput formControlName="description" rows="10"></textarea>
            <mat-error *ngIf="formErrors.description">{{ formErrors.description }}</mat-error>
          </mat-form-field>

          <h3 [className]="formErrors.description ? 'color-danger mt-2' : 'mt-2'">3. เลือกวันที่ดำเนินการ</h3>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="เลือกวัน" formControlName="created_at">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          

          <h3 [className]="formErrors.objective ? 'color-danger mt-2' : 'mt-2'">4. ความสอดคล้องกับวัตถุประสงค์</h3>
          <mat-form-field class="w-100 px-5">
            <mat-label>ความสอดคล้องกับวัตถุประสงค์</mat-label>
            <mat-select formControlName="objective">
              <mat-option *ngFor="let objective of project.objectives" [value]="objective.id">
                  {{ objective.objective }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.objective">{{ formErrors.objective }}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 px-5 animated fadeInDown" *ngIf="form.get('objective').value">
            <mat-label>รายละเอียดเพิ่มเติม(ถ้ามี)</mat-label>
            <textarea matInput formControlName="objective_note" rows="5"></textarea>
          </mat-form-field>

          <h3 [className]="formErrors.kpi ? 'color-danger mt-2' : 'mt-2'">5. ความสอดคล้องกับตัวชี้วัด(KPI)</h3>
          <mat-form-field class="w-100 px-5">
            <mat-label>ความสอดคล้องกับตัวชี้วัด</mat-label>
            <mat-select formControlName="kpi">
              <mat-option *ngFor="let k of project.kpi" [value]="k.id">
                  {{ k.kpi }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formErrors.kpi">{{ formErrors.kpi }}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 px-5 animated fadeInDown" *ngIf="form.get('kpi').value">
            <mat-label>รายละเอียดเพิ่มเติม(ถ้ามี)</mat-label>
            <textarea matInput formControlName="kpi_note" rows="5"></textarea>
          </mat-form-field>

          <h3 [className]="formErrors.budget ? 'color-danger mt-2' : 'mt-2'">6. งบประมาณ(บาท)</h3>
          <mat-form-field class="w-100">
            <mat-label>งบประมาณ</mat-label>
            <input matInput formControlName="budget" required>
            <mat-error *ngIf="formErrors.budget">{{ formErrors.budget }}</mat-error>
          </mat-form-field>

          <ng-container *ngIf="formType === 'EDIT' && images && images.length > 0">
            <div class="d-flex mt-2">
              <span class="flex-grow-1">
                <h3>รูปภาพที่อัพโหลด</h3>
              </span>              
              <a href="javascript:void(0)" [className]="!removeImagesAll ? 'btn btn-xs btn-raised btn-danger' : 'btn btn-xs btn-raised btn-success'" (click)="manageImages(!removeImagesAll ? 0 : 1)">
                <i [className]="!removeImagesAll ? 'zmdi zmdi-close' : 'zmdi zmdi-check'"></i>
                {{ !removeImagesAll ? 'ลบทั้งหมด' : 'กู้คืน'}}
              </a>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-4" *ngFor="let image of images">
                <div class="card">
                  <figure class="ms-thumbnail">
                    <img src="https://surin.srru.ac.th/app/{{ image.src }}" style="height: 200px" [className]="image.status === 1 ? 'img-fluid' : 'img-fluid grayscale'">
                    <figcaption class="ms-thumbnail-caption text-center">
                      <div class="ms-thumbnail-caption-content">
                        <a *ngIf="image.status === 1" (click)="image.status = 0" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-lg mr-1 btn-circle-white color-danger">
                          <i class="zmdi zmdi-close"></i>
                        </a>
                        <a *ngIf="image.status === 0" (click)="image.status = 1" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-lg mr-1 btn-circle-white color-success">
                          <i class="zmdi zmdi-check"></i>
                        </a>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="formType === 'EDIT' && documents && documents.length > 0">
            <div class="d-flex mt-2">
              <span class="flex-grow-1">
                <h3>ไฟล์ที่อัพโหลด</h3>
              </span>              
              <a href="javascript:void(0)" [className]="!removeDocumentsAll ? 'btn btn-xs btn-raised btn-danger' : 'btn btn-xs btn-raised btn-success'" (click)="manageDocuments(!removeDocumentsAll ? 0 : 1)">
                <i [className]="!removeDocumentsAll ? 'zmdi zmdi-close' : 'zmdi zmdi-check'"></i>
                {{ !removeDocumentsAll ? 'ลบไฟล์ทั้งหมด' : 'กู้คืน'}}
              </a>
            </div>
            <ol>
              <li *ngFor="let file of documents" [className]="file.status === 1 ? '' : 'color-danger'">
                <span>{{ file.file_name }}</span>
                <a *ngIf="file.status === 1" href="javascript:void(0)" class="text-danger" (click)="file.status = 0"> ลบ</a>
                <a *ngIf="file.status === 0" href="javascript:void(0)" class="text-success" (click)="file.status = 1"> กู้คืน</a>
              </li>
            </ol>
          </ng-container>
          

          <h3 class="mt-2">7. รูปภาพ/ไฟล์(ถ้ามี)</h3>
          <ngx-dropzone 
            [preserveFiles]="false"
            [showPreviews]="true"
            [label]="'เลือกรูปภาพ/ไฟล์'"
            (filesAdded)="addFiles($event)" >
          </ngx-dropzone>

          <div class="form-group d-flex justify-content-center">
            <button (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid || isSubmit">
              {{ title }}
              <mat-icon [className]="isSubmit ? 'd-inline-block' : 'd-none'"><mat-spinner color="primary" diameter="20"></mat-spinner></mat-icon>
            </button>
          </div>   
        </form>
      </div>
    </div>
  </div>
</div>