/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Sarabun&subset=thai');
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Sarabun, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// @include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

.mat-success {
  background-color: #4caf50;
  color: #fff;
}

.green-icon {
  color: #4caf50;
}
.red-icon {
  color: #f44336;
}
.info-icon {
  color: #00bcd4;
}
