<div class="card card-royal animated fadeInUp animation-delay-7">
  <div class="card-header d-flex">
    <h3 class="card-title flex-grow-1"><mat-icon>attach_file</mat-icon> สินค้าโอทอปทั้งหมด</h3>
    <a routerLink="/otop/create" mat-raised-button color="success">
      <mat-icon>add</mat-icon>
      เพิ่มสินค้า
    </a>
  </div>

  <div class="card-body" *ngIf="!dataSource && adminOtopList.length === 0">
    <h3 class="text-center">ไม่พบข้อมูล</h3>
  </div>

  <ng-container *ngIf="dataSource && adminOtopList.length > 0">
    <mat-form-field class="px-5 pt-5">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ชื่อ</th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/otop/{{ row.id }}">{{ row.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ประเภท</th>
        <td mat-cell *matCellDef="let row">{{ row.category.name_th }}</td>
      </ng-container>

      <ng-container matColumnDef="subDistrict">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ตำบล</th>
        <td mat-cell *matCellDef="let row">{{ 'ตำบล'+row.sub_district.sub_district_name_th+' อำเภอ'+row.sub_district.district.district_name_th+' จังหวัด'+row.sub_district.province.province_name_th }}</td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef class="text-center">จัดการ<mat-icon [className]="isDeleted ? 'd-inline-block' : 'd-none'"><mat-spinner color="primary" diameter="20"></mat-spinner></mat-icon></th>
        <td mat-cell *matCellDef="let row">
          <a mat-icon-button routerLink="/otop/{{ row.id }}/edit" matTooltip="แก้ไขสินค้า">
            <mat-icon class="info-icon">edit</mat-icon>
          </a>
          <a mat-icon-button (click)="deleteProject(row.id)" routerLink="/otop/{{ row.id }}/edit" matTooltip="ลบสินค้า" color="warn">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 100]"></mat-paginator>
  </ng-container>
</div>