<div class="bg-full-page back-fixed">
  <div class="mw-500 absolute-center">
    <div class="card card-primary animated zoomInUp animation-delay-7 color-primary withripple">
      <div class="card-body">
        <div class="text-center color-dark">
          <h1 class="color-primary text-big">Error 401</h1>
          <h2>Unauthorized</h2>
          <p class="lead lead-sm">คุณไม่มีสิทธิ์เข้าถึงหน้านี้</p>
          <a routerLink="/home" class="btn btn-primary btn-raised">
            <i class="zmdi zmdi-home"></i>กลับหน้าแรก</a>
        </div>
      </div>
    </div>
  </div>
</div>