<div class="ms-site-container mt-5">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">แบบเสนอโครงการ</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
      <div class="card-body">
        <div class="text-center">
          <p class="h2">
            <strong>
              ระบบทำงานได้ดีใน 
              <a href="https://www.google.com/intl/th_ALL/chrome/">
                Chrome 
                <i class="fa fa-chrome" aria-hidden="true"></i>
              </a>&nbsp; 
              และ 
              <a href="https://www.mozilla.org/th/firefox/new/">
                FireFox 
                <i class="fa fa-firefox" aria-hidden="true"></i>
              </a>
            </strong>
          </p>
        </div>
        
        <p>คำอธิบาย</p>
        <ol>
          <li>
            กรอกรายละเอียด
            <a href="/files/proposal_template_plan_budget.docx" target="_blank">
              แผนการดำเนินงานและรายละเอียดงบประมาณ <i data-toggle="tooltip" data-placement="top" title="ดาวน์โหลด" class="fa fa-cloud-download color-success" aria-hidden="true"></i>
            </a>
            &nbsp;และแบบฟอร์มด้านล่าง แล้วปริ้นเอกสารจากระบบหน้าแรกและหน้าสุดท้าย
            ที่มีระบบติดตามข้อเสนอโครงการผ่าน QR Code
            (ประหยัดการใช้การดาษและสามารถติดตามโครงการได้
            <a href="/user/projects/">ผ่านระบบ</a>
            )
          </li>
          <li>
            ดาวน์โหลดเอกสาร
            <a href="/files/proposal_template.docx" target="_blank">proposal template</a>
            กรอกข้อมูลให้ถูกต้องและเสนอโครงการผ่านคณะฯมาที่ สถาบันวิจัยและพัฒนา มหาวิทยาลัยราชภัฏสุรินทร์
            (ไม่สามารถตรวจสอบสถานะผ่านระบบออนไลน์ได้)(Optional)
          </li>
        </ol>
        <hr class="dashed">

        <form [formGroup]="form" class="form-horizontal" accept-charset="UTF-8" enctype="multipart/form-data">
          <fieldset>
            <legend class="color-primary">ส่วนที่ 1 ข้อมูลทั่วไป</legend> 

            <!-- ***project_name -->
            <h4 [className]="formErrors.project_name ? 'color-danger' : ''">1. ชื่อโครงการ</h4>
            <div class="form-group label-floating mx-5">
              <label class="control-label" for="project_name">ชื่อโครงการ</label>
              <input type="text" class="form-control" formControlName="project_name">
              <p class="color-danger" *ngIf="formErrors.project_name">{{ formErrors.project_name }}</p>
            </div>
            <!-- end project_name -->

            <!-- ***target_areas -->
            <app-target-areas 
              [target_areas]="target_areas" 
              [districts]="districts" 
              [subDistrictArr]="subDistrictArr" 
              [villageArr]="villageArr" 

              (subDistrictsLoaded)="loadSubDistricts($event)" 
              (villagesLoaded)="loadVillages($event)" 
              (targetAreaRemoved)="removeTargetArea($event)">
            </app-target-areas>
            <!-- end target_areas -->

            <h4>3. ผู้รับผิดชอบโครงการ</h4>
            <h4 class="px-4">3.1 มหาวิทยาลัยราชภัฏสุรินทร์</h4>
            <!-- ***main_staffs-->
            <app-main-staffs
              [main_staffs]="main_staffs" 
              [faculty]="faculty"
              [mainSubFacultyArr]="mainSubFacultyArr" 
              [mainBranchArr]="mainBranchArr" 
              [mainStaffArr]="mainStaffArr" 

              (subFacultyLoaded)="loadSubFaculty($event)" 
              (branchLoaded)="loadBranch($event)" 
              (staffLoaded)="loadStaff($event)" 
              (staffRemoved)="removeMainStaff($event)"
            >
            </app-main-staffs>
            <!-- end main_staffs -->

            <!-- ***sub_staffs -->
            <app-sub-staffs
              [sub_staffs]="sub_staffs" 
              [faculty]="faculty"
              [subSubFacultyArr]="subSubFacultyArr" 
              [subBranchArr]="subBranchArr" 
              [subStaffArr]="subStaffArr" 

              (subFacultyLoaded)="loadSubFaculty($event)" 
              (branchLoaded)="loadBranch($event)" 
              (staffLoaded)="loadStaff($event)" 
              (staffRemoved)="removeSubStaff($event)"
            >
            </app-sub-staffs>
            <!-- end sub_staffs -->

            <!-- ***ext_staffs -->
            <h4 class="px-4">3.2 ชุมชน/ท้องถิ่นที่เข้าร่วมโครงการ</h4>
            <app-ext-staffs
              [ext_staffs]="ext_staffs"
              [prefixName]="prefixName"
              [userGroup]="userGroup"
              
              (extStaffRemoved)="removeExtStaff($event)">
            </app-ext-staffs>
            <!-- end ext_staffs -->

            <!-- ***project_schemes -->
            <!-- <h4>4. รูปแบบโครงการ</h4>
            <div class="form-group">
              <div class="checkbox">
                <ng-container formArrayName="schemes" *ngFor="let scheme of schemes.controls;let i = index">
                  <label>
                    <input type="checkbox" [formControlName]="i"> {{ projectSchemes[i].name }}
                  </label><br>
                </ng-container>
              </div>
            </div> -->
            <!-- end project_schemes -->

            <!-- ***srru_strategies -->
            <!-- <h4>5. ความสอดคล้องกับโครงการภายใต้ยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น</h4>
            <div class="form-group">
              <div class="checkbox">
                <ng-container formArrayName="srru_strategies" *ngFor="let strategy of srru_strategies.controls;let i = index">
                  <label>
                    <input type="checkbox" [formControlName]="i"> {{ srruStrategies[i].name+' '+srruStrategies[i].details }}
                  </label><br>
                </ng-container>
              </div>
            </div> -->
            <!-- end srru_strategies -->

            <!-- ***rajabhat_strategies -->
            <!-- <h4>6. ความสอดคล้องกับยุทธศาสตร์มหาวิทยาลัยราชภัฏ ระยะ 20 ปี (พ.ศ. 2560-2579)</h4>
            <div class="form-group">
              <div class="checkbox">
                <ng-container formArrayName="rajabhat_strategies" *ngFor="let strategy of rajabhat_strategies.controls;let i = index">
                  <label>
                    <input type="checkbox" [formControlName]="i"> {{ rajabhatStrategies[i].name+' '+rajabhatStrategies[i].details }}
                  </label><br>
                </ng-container>
              </div>
            </div> -->
            <!-- end rajabhat_strategies -->

            <!-- ***national_strategies -->
            <!-- <h4>7. ความสอดคล้องกับยุทธศาสตร์ชาติ ระยะ 20 ปี (พ.ศ. 2560-2579)</h4>
            <div class="form-group">
              <div class="checkbox">
                <ng-container formArrayName="national_strategies" *ngFor="let strategy of national_strategies.controls;let i = index">
                  <label>
                    <input type="checkbox" [formControlName]="i"> {{ nationalStrategies[i].name+' '+nationalStrategies[i].details }}
                  </label><br>
                </ng-container>
              </div>
            </div> -->
            <!-- end national_strategies -->

            <!-- ***faculty_strategy -->
            <!-- <h4 [className]="formErrors.faculty_strategy ? 'color-danger' : ''">8. สอดคล้องกับยุทธศาสตร์หน่วยงาน คณะ/ศูนย์/สำนัก</h4>
            <div class="form-group">
              <textarea required class="form-control" formControlName="faculty_strategy" rows="8"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.faculty_strategy">*{{ formErrors.faculty_strategy }}</p> -->
            <!-- end faculty_strategy -->

            <!-- ***integration_plans -->
            <!-- <h4>9. แผนการบูรณาการกับพันธกิจอื่น</h4>
            <div class="form-group">
              <div class="checkbox">
                <ng-container formArrayName="integration_plans" *ngFor="let plan of integration_plans.controls;let i = index">
                  <label>
                    <input type="checkbox" [formControlName]="i" (change)="integrationPlanCheck(i, $event)"> {{ integrationPlans[i].name_th }}
                  </label><br>
                </ng-container>
              </div>
            </div> -->
            <!-- end integration_plans -->
           
          </fieldset>
          
          <div class="form-group d-flex justify-content-center">
            <button (click)="submit()" type="submit" class="btn btn-raised btn-primary">เสนอโครงการ</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>