<div class="ms-site-container mt-5">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">แบบเสนอโครงการ</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
      <div class="card-body">
        <div class="text-center">
          <p class="h2">
            <strong>
              ระบบทำงานได้ดีใน 
              <a href="https://www.google.com/intl/th_ALL/chrome/">
                Chrome 
                <i class="fa fa-chrome" aria-hidden="true"></i>
              </a>&nbsp; 
              และ 
              <a href="https://www.mozilla.org/th/firefox/new/">
                FireFox 
                <i class="fa fa-firefox" aria-hidden="true"></i>
              </a>
            </strong>
          </p>
        </div>
        
        <p>คำอธิบาย</p>
        <ol>
          <li>
            กรอกรายละเอียด
            <a href="/files/proposal_template_plan_budget.docx" target="_blank">
              แผนการดำเนินงานและรายละเอียดงบประมาณ <i data-toggle="tooltip" data-placement="top" title="ดาวน์โหลด" class="fa fa-cloud-download color-success" aria-hidden="true"></i>
            </a>
            &nbsp;และแบบฟอร์มด้านล่าง แล้วปริ้นเอกสารจากระบบหน้าแรกและหน้าสุดท้าย
            ที่มีระบบติดตามข้อเสนอโครงการผ่าน QR Code
            (ประหยัดการใช้การดาษและสามารถติดตามโครงการได้
            <a href="/user/projects/">ผ่านระบบ</a>
            )
          </li>
          <li>
            ดาวน์โหลดเอกสาร
            <a href="/files/proposal_template.docx" target="_blank">proposal template</a>
            กรอกข้อมูลให้ถูกต้องและเสนอโครงการผ่านคณะฯมาที่ สถาบันวิจัยและพัฒนา มหาวิทยาลัยราชภัฏสุรินทร์
            (ไม่สามารถตรวจสอบสถานะผ่านระบบออนไลน์ได้)(Optional)
          </li>
        </ol>
        <hr class="dashed">

        <form [formGroup]="form" class="form-horizontal" accept-charset="UTF-8" enctype="multipart/form-data">
          <fieldset>
            <legend class="color-primary">ส่วนที่ 1 ข้อมูลทั่วไป</legend> 

            <!-- ***project_name -->
            <h4 [className]="formErrors.project_name ? 'color-danger' : ''">1. ชื่อโครงการ</h4>
            <div class="form-group label-floating">
              <label class="control-label" for="project_name">ชื่อโครงการ</label>
              <input type="text" class="form-control" formControlName="project_name">
              <p class="color-danger" *ngIf="formErrors.project_name">{{ formErrors.project_name }}</p>
            </div>
            <!-- end project_name -->

            <!-- ***target_areas -->
            <app-target-areas 
              [target_areas]="target_areas" 
              [districts]="districts" 
              [subDistrictArr]="subDistrictArr" 
              [villageArr]="villageArr" 

              (subDistrictsLoaded)="loadSubDistricts($event)" 
              (villagesLoaded)="loadVillages($event)" 
              (targetAreaRemoved)="removeTargetArea($event)">
            </app-target-areas>
            <!-- end target_areas -->

            <h4>3. ผู้รับผิดชอบโครงการ</h4>
            <h4 class="px-4">3.1 มหาวิทยาลัยราชภัฏสุรินทร์</h4>
            <!-- ***main_staffs-->
            <app-main-staffs
              [main_staffs]="main_staffs" 
              [faculty]="faculty"
              [mainSubFacultyArr]="mainSubFacultyArr" 
              [mainBranchArr]="mainBranchArr" 
              [mainStaffArr]="mainStaffArr" 

              (subFacultyLoaded)="loadSubFaculty($event)" 
              (branchLoaded)="loadBranch($event)" 
              (staffLoaded)="loadStaff($event)" 
              (staffRemoved)="removeMainStaff($event)"
            >
            </app-main-staffs>
            <!-- end main_staffs -->

            <!-- ***sub_staffs -->
            <app-sub-staffs
              [sub_staffs]="sub_staffs" 
              [faculty]="faculty"
              [subSubFacultyArr]="subSubFacultyArr" 
              [subBranchArr]="subBranchArr" 
              [subStaffArr]="subStaffArr" 

              (subFacultyLoaded)="loadSubFaculty($event)" 
              (branchLoaded)="loadBranch($event)" 
              (staffLoaded)="loadStaff($event)" 
              (staffRemoved)="removeSubStaff($event)"
            >
            </app-sub-staffs>
            <!-- end sub_staffs -->

            <!-- ***ext_staffs -->
            <h4 class="px-4">3.2 ชุมชน/ท้องถิ่นที่เข้าร่วมโครงการ</h4>
            <app-ext-staffs
              [ext_staffs]="ext_staffs"
              [prefixName]="prefixName"
              [userGroup]="userGroup"
              
              (extStaffRemoved)="removeExtStaff($event)">
            </app-ext-staffs>
            <!-- end ext_staffs -->

            <!-- ***project_schemes -->
            <h4 [className]="formErrors.schemes ? 'color-danger' : ''">4. รูปแบบโครงการ</h4>
            <app-schemes 
              [schemes]="schemes" 
              [projectSchemes]="projectSchemes" >
            </app-schemes>
            <p class="color-danger" *ngIf="formErrors.schemes">{{ formErrors.schemes }}</p>
            <!-- end project_schemes -->

            <!-- ***srru_strategies -->
            <h4 [className]="formErrors.srru_strategies ? 'color-danger' : ''">5. ความสอดคล้องกับโครงการภายใต้ยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น</h4>
            <app-srru-strategies 
              [srru_strategies]="srru_strategies" 
              [srruStrategies]="srruStrategies" >
            </app-srru-strategies>
            <p class="color-danger" *ngIf="formErrors.srru_strategies">{{ formErrors.srru_strategies }}</p>
            <!-- end srru_strategies -->

            <!-- ***rajabhat_strategies -->
            <h4 [className]="formErrors.rajabhat_strategies ? 'color-danger' : ''">6. ความสอดคล้องกับยุทธศาสตร์มหาวิทยาลัยราชภัฏ ระยะ 20 ปี (พ.ศ. 2560-2579)</h4>
            <app-rajabhat-strategies 
              [rajabhat_strategies]="rajabhat_strategies" 
              [rajabhatStrategies]="rajabhatStrategies" >
            </app-rajabhat-strategies>
            <p class="color-danger" *ngIf="formErrors.rajabhat_strategies">{{ formErrors.rajabhat_strategies }}</p>
            <!-- end rajabhat_strategies -->

            <!-- ***national_strategies -->
            <h4 [className]="formErrors.national_strategies ? 'color-danger' : ''">7. ความสอดคล้องกับยุทธศาสตร์ชาติ ระยะ 20 ปี (พ.ศ. 2560-2579)</h4>
            <app-national-strategies 
              [national_strategies]="national_strategies" 
              [nationalStrategies]="nationalStrategies" >
            </app-national-strategies>
            <p class="color-danger" *ngIf="formErrors.national_strategies">{{ formErrors.national_strategies }}</p>
            <!-- end national_strategies -->

            <!-- ***faculty_strategy -->
            <h4 [className]="formErrors.faculty_strategy ? 'color-danger' : ''">8. สอดคล้องกับยุทธศาสตร์หน่วยงาน คณะ/ศูนย์/สำนัก</h4>
            <div class="form-group">
              <textarea class="form-control" formControlName="faculty_strategy" rows="8"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.faculty_strategy">*{{ formErrors.faculty_strategy }}</p>
            <!-- end faculty_strategy -->

            <!-- ***integration_plans -->
            <h4>9. แผนการบูรณาการกับพันธกิจอื่น</h4>
            <app-integration-plans 
              [integration_plans]="integration_plans" 
              [integrationPlans]="integrationPlans">
            </app-integration-plans>
            <!-- <p class="color-danger"></p> -->
            <!-- end integration_plans -->
          </fieldset>

          <fieldset class="mt-5">
            <legend class="color-primary">ส่วนที่ 2 รายละเอียดโครงการ</legend> 

            <!-- ***history -->
            <h4 [className]="formErrors.history ? 'color-danger' : ''">10. ความเป็นมา/หลักการและเหตุผล</h4>
            <div class="form-group">
              <textarea class="form-control" formControlName="history" rows="15"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.history">*{{ formErrors.history }}</p>
            <!-- end history -->

            <!-- ***objectives -->
            <h4 [className]="formErrors.objectives ? 'color-danger' : ''">11. วัตถุประสงค์โครงการและตัวชี้วัด</h4>
            <app-objectives
              [objectives]="objectives" 
              [activities]="activities" 
              [outputs]="outputs" 
              [kpi]="kpi">
            </app-objectives>
            <!-- end objectives -->

            <!-- ***target_group -->
            <h4 [className]="formErrors.target_group ? 'color-danger' : ''">12. กลุ่มเป้าหมาย</h4>
            <div class="form-group">
              <textarea class="form-control" formControlName="target_group" rows="15"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.target_group">*{{ formErrors.target_group }}</p>
            <!-- end target_group -->

            <!-- ***operation_date -->
            <h4 [className]="formErrors.operation_date ? 'color-danger' : ''">13. วันเวลา และสถานที่ดำเนินการ</h4>
            <div class="form-group">
              <textarea class="form-control" formControlName="operation_date" rows="15"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.operation_date">*{{ formErrors.operation_date }}</p>
            <!-- end operation_date -->

            <!-- ***alliances -->
            <app-alliances
              [alliances]="alliances">
            </app-alliances>
            <!-- end alliances -->

            <!-- ***assessment_method -->
            <h4 [className]="formErrors.assessment_method ? 'color-danger' : ''">15. วิธีการประเมินผลโครงการ</h4>
            <div class="form-group">
              <textarea class="form-control" formControlName="assessment_method" rows="15"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.assessment_method">*{{ formErrors.assessment_method }}</p>
            <!-- end assessment_method -->

            <!-- ***benefits -->
            <h4 [className]="formErrors.benefits ? 'color-danger' : ''">16. ประโยชน์ที่คาดว่าจะได้รับ</h4>
            <app-benefits 
              [benefits]="benefits">
            </app-benefits>
            <p class="color-danger" *ngIf="formErrors.benefits">{{ formErrors.benefits }}</p>
            <!-- end benefits -->

            <!-- ***reporting -->
            <h4 [className]="formErrors.reporting ? 'color-danger' : ''">17. การรายงานผล</h4>
            <div class="form-group">
              <textarea class="form-control" formControlName="reporting" rows="15"></textarea>
            </div>
            <p class="color-danger px-5" *ngIf="formErrors.reporting">*{{ formErrors.reporting }}</p>
            <!-- end reporting -->

            <!-- ***budget -->
            <h4 [className]="formErrors.budget ? 'color-danger' : ''">18. งบประมาณ(บาท)</h4>
            <div class="form-group label-floating">
              <label class="control-label" for="budget">งบประมาณ</label>
              <input type="text" class="form-control" formControlName="budget">
              <p class="color-danger" *ngIf="formErrors.budget">{{ formErrors.budget }}</p>
            </div>
            <!-- end budget -->

            <!-- ***file -->
            <h4 [className]="!file.valid ? 'color-danger' : ''">19. รายละเอียดงบประมาณ*</h4>
            <div class="form-group label-floating">
              <input type="file" formControlName="file" multiple>
              <div class="input-group">
                <input type="text" readonly="" class="form-control" placeholder="แนบรายละเอียดงบประมาณ...">
                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn btn-fab btn-fab-mini">
                    <i class="zmdi zmdi-attachment-alt"></i>
                  </button>
                </span>
              </div>
              <p class="color-danger" *ngIf="formErrors.file">{{ formErrors.file }}</p>
            </div>
            <!-- end file -->

          </fieldset>
          
          <div class="form-group d-flex justify-content-center">
            <button (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid">เสนอโครงการ</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>