<div class="my-5 text-center" *ngIf="!formReady" style="height: 100vh;">
  <div class="absolute-center">
    <mat-spinner class="mx-auto"></mat-spinner>
    กำลังโหลดข้อมูล.
  </div>
</div>

<div class="ms-site-container mt-5" [style.display]="formReady ? 'block' : 'none'">
  <div class="ms-hero-page-override ms-hero-img-airplane ms-bg-fixed ms-hero-bg-dark-light">
    <div class="container">
      <div class="text-center">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">แบบฟอร์ม{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
      <div class="card-body">
        <div class="text-center">
          <p class="h2">
            <strong>
              ระบบทำงานได้ดีใน 
              <a href="https://www.google.com/intl/th_ALL/chrome/">
                Chrome 
                <i class="fa fa-chrome" aria-hidden="true"></i>
              </a>&nbsp; 
              และ 
              <a href="https://www.mozilla.org/th/firefox/new/">
                FireFox 
                <i class="fa fa-firefox" aria-hidden="true"></i>
              </a>
            </strong>
          </p>
        </div>
        
        <p>คำอธิบาย</p>
        <ol>
          <li>
            กรอกรายละเอียด
            <a href="/files/proposal_template_plan_budget.docx" target="_blank">
              แผนการดำเนินงานและรายละเอียดงบประมาณ <i data-toggle="tooltip" data-placement="top" title="ดาวน์โหลด" class="fa fa-cloud-download color-success" aria-hidden="true"></i>
            </a>
            &nbsp;และแบบฟอร์มด้านล่าง แล้วปริ้นเอกสารจากระบบหน้าแรกและหน้าสุดท้าย
            ที่มีระบบติดตามข้อเสนอโครงการผ่าน QR Code
            (ประหยัดการใช้การดาษและสามารถติดตามโครงการได้
            <a href="/user/projects/">ผ่านระบบ</a>
            )
          </li>
          <li>
            ดาวน์โหลดเอกสาร
            <a href="/files/proposal_template.docx" target="_blank">proposal template</a>
            กรอกข้อมูลให้ถูกต้องและเสนอโครงการผ่านคณะฯมาที่ สถาบันวิจัยและพัฒนา มหาวิทยาลัยราชภัฏสุรินทร์
            (ไม่สามารถตรวจสอบสถานะผ่านระบบออนไลน์ได้)(Optional)
          </li>
        </ol>
        <hr class="dashed">

        <form [formGroup]="form" accept-charset="UTF-8" enctype="multipart/form-data">
          <fieldset>
            <legend class="color-primary">ส่วนที่ 1 ข้อมูลทั่วไป</legend> 

            <!-- ***project_name -->
            <h3 [className]="formErrors.project_name ? 'color-danger' : ''">1. ชื่อโครงการ</h3>
            <mat-form-field class="w-100">
              <mat-label>ชื่อโครงการ</mat-label>
              <input matInput formControlName="project_name" required>
              <mat-error *ngIf="formErrors.project_name">{{ formErrors.project_name }}</mat-error>
            </mat-form-field>
            <!-- end project_name -->

            <!-- ***target_areas -->
            <app-target-areas 
              [formType]="formType"
              [target_areas]="target_areas" 
              [districts]="districts" 
              [subDistrictArr]="subDistrictArr" 
              [villageArr]="villageArr" 
              [editTargetAreas]="editObj.targetAreas"

              (subDistrictsLoaded)="loadSubDistricts($event)" 
              (villagesLoaded)="loadVillages($event)" 
              (targetAreaRemoved)="removeTargetArea($event)">
            </app-target-areas>
            <!-- end target_areas -->

            <h3 class="mt-2">3. ผู้รับผิดชอบโครงการ</h3>
            <h3 class="px-4">3.1 มหาวิทยาลัยราชภัฏสุรินทร์</h3>
            <!-- ***main_staffs-->
            <app-main-staffs
              [formType]="formType"
              [main_staffs]="main_staffs" 
              [faculty]="faculty"
              [mainSubFacultyArr]="mainSubFacultyArr" 
              [mainBranchArr]="mainBranchArr" 
              [mainStaffArr]="mainStaffArr" 
              [editMainStaffs]="editObj.mainStaffs"

              (subFacultyLoaded)="loadSubFaculty($event)" 
              (branchLoaded)="loadBranch($event)" 
              (staffLoaded)="loadStaff($event)" 
              (staffRemoved)="removeMainStaff($event)"
            >
            </app-main-staffs>
            <!-- end main_staffs -->

            <!-- ***sub_staffs -->
            <app-sub-staffs
              [formType]="formType"
              [sub_staffs]="sub_staffs" 
              [faculty]="faculty"
              [subSubFacultyArr]="subSubFacultyArr" 
              [subBranchArr]="subBranchArr" 
              [subStaffArr]="subStaffArr" 
              [editSubStaffs]="editObj.subStaffs"

              (subFacultyLoaded)="loadSubFaculty($event)" 
              (branchLoaded)="loadBranch($event)" 
              (staffLoaded)="loadStaff($event)" 
              (staffRemoved)="removeSubStaff($event)"
            >
            </app-sub-staffs>
            <!-- end sub_staffs -->

            <!-- ***ext_staffs -->
            <h3 class="px-4">3.2 ชุมชน/ท้องถิ่นที่เข้าร่วมโครงการ</h3>
            <app-ext-staffs
              [formType]="formType"
              [ext_staffs]="ext_staffs"
              [prefixName]="prefixName"
              [userGroup]="userGroup"
              [editExtStaffs]="editObj.extStaffs"
              
              (extStaffRemoved)="removeExtStaff($event)">
            </app-ext-staffs>
            <!-- end ext_staffs -->

            <!-- ***project_schemes -->
            <h3 [className]="formErrors.scheme ? 'color-danger mt-2' : 'mt-2'">4. รูปแบบโครงการ</h3>
            <mat-radio-group class="d-flex flex-column" formControlName="scheme">
              <mat-radio-button color="primary" *ngFor="let scheme of projectSchemes" [value]="scheme.id">
                {{ scheme.name }}
              </mat-radio-button>
              <mat-error *ngIf="formErrors.scheme">{{ formErrors.scheme }}</mat-error>
            </mat-radio-group>
            
            <!-- <app-schemes 
              [formType]="formType"
              [schemes]="schemes" 
              [projectSchemes]="projectSchemes" 
              [editSchemes]="editObj.schemes">
            </app-schemes>
            <p class="color-danger" *ngIf="formErrors.schemes">{{ formErrors.schemes }}</p> -->
            <!-- end project_schemes -->

            <!-- ***srru_strategy -->
            <h3 [className]="formErrors.srru_strategy ? 'color-danger mt-2' : 'mt-2'">5. ความสอดคล้องกับโครงการภายใต้ยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น</h3>
            <mat-radio-group class="d-flex flex-column" formControlName="srru_strategy">
              <mat-radio-button color="primary" *ngFor="let strategy of srruStrategies" [value]="strategy.id">
                {{ strategy.details }}
              </mat-radio-button>
              <mat-error *ngIf="formErrors.srru_strategy">{{ formErrors.srru_strategy }}</mat-error>
            </mat-radio-group>
            <!-- end srru_strategy -->

            <!-- ***rajabhat_strategies -->
            <h3 [className]="formErrors.rajabhat_strategies ? 'color-danger mt-2' : 'mt-2'">6. ความสอดคล้องกับยุทธศาสตร์มหาวิทยาลัยราชภัฏ ระยะ 20 ปี (พ.ศ. 2560-2579)</h3>
            <app-rajabhat-strategies 
              [formType]="formType"
              [rajabhat_strategies]="rajabhat_strategies" 
              [rajabhatStrategies]="rajabhatStrategies"
              [editRajabhatStrategies]="editObj.rajabhatStrategies">
            </app-rajabhat-strategies>
            <p class="color-danger" *ngIf="formErrors.rajabhat_strategies">{{ formErrors.rajabhat_strategies }}</p>
            <!-- end rajabhat_strategies -->

            <!-- ***national_strategies -->
            <h3 [className]="formErrors.national_strategies ? 'color-danger mt-2' : 'mt-2'">7. ความสอดคล้องกับยุทธศาสตร์ชาติ ระยะ 20 ปี (พ.ศ. 2560-2579)</h3>
            <app-national-strategies 
              [formType]="formType"
              [national_strategies]="national_strategies" 
              [nationalStrategies]="nationalStrategies"
              [editNationalStrategies]="editObj.nationalStrategies">
            </app-national-strategies>
            <p class="color-danger" *ngIf="formErrors.national_strategies">{{ formErrors.national_strategies }}</p>
            <!-- end national_strategies -->

            <!-- ***faculty_strategy -->
            <h3 [className]="formErrors.faculty_strategy ? 'color-danger mt-2' : 'mt-2'">8. สอดคล้องกับยุทธศาสตร์หน่วยงาน คณะ/ศูนย์/สำนัก</h3>
            <mat-form-field class="w-100">
              <mat-label>ยุทธศาสตร์หน่วยงาน คณะ/ศูนย์/สำนัก</mat-label>
              <textarea matInput formControlName="faculty_strategy" rows="3" required></textarea>
              <mat-error *ngIf="formErrors.faculty_strategy">{{ formErrors.faculty_strategy }}</mat-error>
            </mat-form-field>
            <!-- end faculty_strategy -->

            <!-- ***integration_plans -->
            <h3 [className]="formErrors.integration_plans ? 'color-danger mt-2' : 'mt-2'">9. แผนการบูรณาการกับพันธกิจอื่น</h3>
            <app-integration-plans 
              [formType]="formType"
              [integration_plans]="integration_plans" 
              [integrationPlans]="integrationPlans"
              [editPlans]="editObj.integration_plans">
            </app-integration-plans>
            <p class="color-danger" *ngIf="formErrors.integration_plans">{{ formErrors.integration_plans }}</p>
            <!-- <p class="color-danger"></p> -->
            <!-- end integration_plans -->
          </fieldset>

          <fieldset class="mt-5">
            <legend class="color-primary">ส่วนที่ 2 รายละเอียดโครงการ</legend> 

            <!-- ***history -->
            <h3 [className]="formErrors.history ? 'color-danger' : ''">10. ความเป็นมา/หลักการและเหตุผล</h3>
            <mat-form-field class="w-100">
              <mat-label>ความเป็นมา/หลักการและเหตุผล</mat-label>
              <textarea matInput formControlName="history" rows="3" required></textarea>
              <mat-error *ngIf="formErrors.history">{{ formErrors.history }}</mat-error>
            </mat-form-field>
            <!-- end history -->

            <!-- ***objectives -->
            <h3>11. วัตถุประสงค์โครงการและตัวชี้วัด</h3>
            <app-objectives
              [formType]="formType"
              [objectives]="objectives" 
              [activities]="activities" 
              [outputs]="outputs" 
              [kpi]="kpi"
              [editObjectives]="editObj.objectives"
              [editActivities]="editObj.activities"
              [editOutputs]="editObj.outputs"
              [editKpi]="editObj.kpi">
            </app-objectives>
            <!-- end objectives -->

            <!-- ***target_group -->
            <h3 [className]="formErrors.target_group ? 'color-danger mt-2' : 'mt-2'">12. กลุ่มเป้าหมาย</h3>
            <mat-form-field class="w-100">
              <mat-label>กลุ่มเป้าหมาย</mat-label>
              <textarea matInput formControlName="target_group" rows="3" required></textarea>
              <mat-error *ngIf="formErrors.target_group">{{ formErrors.target_group }}</mat-error>
            </mat-form-field>
            <!-- end target_group -->

            <!-- ***operation_date -->
            <h3 [className]="formErrors.operation_date ? 'color-danger mt-2' : 'mt-2'">13. วันเวลา และสถานที่ดำเนินการ</h3>
            <mat-form-field class="w-100">
              <mat-label>วันเวลา และสถานที่ดำเนินการ</mat-label>
              <textarea matInput formControlName="operation_date" rows="3" required></textarea>
              <mat-error *ngIf="formErrors.operation_date">{{ formErrors.operation_date }}</mat-error>
            </mat-form-field>
            <!-- end operation_date -->

            <!-- ***alliances -->
            <app-alliances
              [formType]="formType"
              [alliances]="alliances"
              [editAlliances]="editObj.alliances">
            </app-alliances>
            <!-- end alliances -->

            <!-- ***assessment_method -->
            <h3 [className]="formErrors.assessment_method ? 'color-danger mt-2' : 'mt-2'">15. วิธีการประเมินผลโครงการ</h3>
            <mat-form-field class="w-100">
              <mat-label>วิธีการประเมินผลโครงการ</mat-label>
              <textarea matInput formControlName="assessment_method" rows="3" required></textarea>
              <mat-error *ngIf="formErrors.assessment_method">{{ formErrors.assessment_method }}</mat-error>
            </mat-form-field>
            <!-- end assessment_method -->

            <!-- ***benefits -->
            <h3 [className]="formErrors.benefits ? 'color-danger mt-2' : 'mt-2'">16. ประโยชน์ที่คาดว่าจะได้รับ</h3>
            <app-benefits 
              [formType]="formType"
              [benefits]="benefits"
              [editBenefits]="editObj.benefits">
            </app-benefits>
            <p class="color-danger" *ngIf="formErrors.benefits">{{ formErrors.benefits }}</p>
            <!-- end benefits -->

            <!-- ***reporting -->
            <h3 [className]="formErrors.reporting ? 'color-danger mt-2' : 'mt-2'">17. การรายงานผล</h3>
            <mat-form-field class="w-100">
              <mat-label>การรายงานผล</mat-label>
              <textarea matInput formControlName="reporting" rows="3" required></textarea>
              <mat-error *ngIf="formErrors.reporting">{{ formErrors.reporting }}</mat-error>
            </mat-form-field>
            <!-- end reporting -->

            <!-- ***budget -->
            <h3 [className]="formErrors.budget ? 'color-danger mt-2' : 'mt-2'">18. งบประมาณ(บาท)</h3>
            <mat-form-field class="w-100">
              <mat-label>งบประมาณ</mat-label>
              <input matInput formControlName="budget" required>
              <mat-error *ngIf="formErrors.budget">{{ formErrors.budget }}</mat-error>
            </mat-form-field>
            <!-- end budget -->

            <!-- ***file -->
            <h3 *ngIf="formType === 'CREATE'" [className]="!file.valid ? 'color-danger mt-2' : 'mt-2'">19. รายละเอียดงบประมาณ</h3>
            <h3 *ngIf="formType === 'EDIT'" [className]="!project_file ? 'color-danger mt-2' : 'mt-2'">19. รายละเอียดงบประมาณ</h3>
            <div class="row" *ngIf="formType === 'EDIT'">
              <p [className]="file_delete ? 'h4 col-8 color-warning' : 'h4 col-8'">{{ file_delete ? 'ไฟล์นี้จะถูกลบ กรุณาแนบไฟล์ใหม่' : project_file }}</p>
              <a href="javascript:void(0)" class="color-danger col-4" (click)="toggleFileButton()"><p class="h4">{{ file_delete ? 'ยกเลิก' : 'ลบไฟล์' }}</p></a>
            </div>    
            <div class="form-group animated fadeInDown" *ngIf="file_delete || formType === 'CREATE'">
              <input type="file" (change)="onFileChange($event)">
              <div class="input-group">
                <input type="text" readonly="" class="form-control" placeholder="แนบรายละเอียดงบประมาณ...">
                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn btn-fab btn-fab-mini">
                    <i class="zmdi zmdi-attachment-alt"></i>
                  </button>
                </span>
              </div>
              <p class="color-danger" *ngIf="formErrors.file">{{ formErrors.file }}</p>
            </div>
        
            <!-- end file -->

          </fieldset>

          <div class="form-group d-flex justify-content-center">
            <button (click)="submit()" mat-raised-button color="primary" [disabled]="!form.valid || isSubmit">
              {{ title }}
              <mat-icon [className]="isSubmit ? 'd-inline-block' : 'd-none'"><mat-spinner color="primary" diameter="20"></mat-spinner></mat-icon>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>