<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
  <div class="container">
  	<div class="text-center">
  		<span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-3">
        <img src="https://surin.srru.ac.th/images/srru-2.png" width="100%" alt=""></span>
    		<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-3">
          ตัวชี้วัดโครงการ
    		</h1>
    		<p class="text-center color-white mt-2 mw-800 text-uppercase  fw-300 animated fadeInUp animation-delay-3">
          ยุทธศาสตร์มหาวิทยาลัยราชภัฏ
    			<span class="color-warning">เพื่อการพัฒนาท้องถิ่น</span> ระยะ 20 ปี (พ.ศ.2560-2579)
        </p>
  	</div>
  </div>
</div>


<div class="container">

    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i> ตัวชี้วัดโครงการ (พ.ศ. {{kpi_year+543}})</h3>
        </div>
				<table class="table table-no-border table-striped">
					<thead>
						<tr>
							<th style="width: 15%;">ยุธศาสตร์</th>
							<th style="width: 40%;">กลุ่มตัวชี้วัด</th>
							<th style="width: 45%;">ตัวชี้วัด</th>
						</tr>
					</thead>
          <tbody>
            <tr *ngFor="let kpi of srru_kpis">
              <td style="width: 15%;">{{kpi.name}}</td>
              <td style="width: 40%;">{{kpi.group}}</td>
              <td style="width: 45%; white-space: pre-line;">{{kpi.details}}</td>
            </tr>

          </tbody>
				</table>
      </div>
    </div>

    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7 my-5">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i> ความสอดคล้องกับโครงการภายใต้ยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่น</h3>
        </div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div id="srruStrategyChart" style="width: 100%; height: 450px"></div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>


    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7 my-5">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i> ความสอดคล้องกับโครงการภายใต้ยุทธศาสตร์มหาวิทยาลัยราชภัฏ ระยะ 20 ปี (พ.ศ. 2560-2579)</h3>
        </div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div id="rajabhatStrategyChart" style="width: 100%; height: 450px"></div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>


    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7 my-5">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i>  ความสอดคล้องกับโครงการภายใต้ยุทธศาสตร์ชาติ ระยะ 20 ปี (พ.ศ. 2560-2579)</h3>
        </div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div id="nationalStrategyChart" style="width: 100%; height: 450px"></div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>


    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7 my-5">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i>  รูปแบบโครงการ</h3>
        </div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div id="projectSchemesChart" style="width: 100%; height: 450px"></div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>


    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7 my-5">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i>   ประโยชน์ที่คาดว่าจะได้รับ</h3>
        </div>
        <div class="card-body"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div id="projectBenefitsChart" style="width: 100%; height: 450px"></div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>


    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7 my-5">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i>  ผลการประเมินโครงการ</h3>
        </div>
        <div class="card-body">


<h2 class="section-title text-center">ผลการประเมินรวม <B *ngIf="project_summary!=null" class="color-danger">{{project_summary.total_projects}}</B> โครงการ</h2>
<p  *ngIf="project_summary!=null" class=" text-center">ผลการประเมินจากผู้ทรงคุณวุฒิ ตามวัตถุประสงค์ กิจกรรม ผลลัพท์หลังจากการดำเนินกิจกรรม และตัวชี้วัดของโครงการ ภายใต้โครงการยุทธศาสตร์มหาวิทยาลัยราชภัฏเพื่อการพัฒนาท้องถิ่นมหาวิทยาลัยราชภัฏสุรินทร์ พร้อมข้อเสนอแนะจากผู้ทรงคุณวุฒิจำนวน {{project_summary.total_suggestion}} รายการ
สำหรับผลการดำเนินการตามตัวบ่งชี้ต่าง ๆ สามารถสรุปได้ดังนี้</p>
    <div class="row mt-4">
      <div class="col-md-3">
        <div class="card card-warning">
          <div class="card-body overflow-hidden text-center">
            <!-- <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-warning"><i class="zmdi zmdi-cocktail"></i></span> -->
            <h4 class="color-warning">วัตถุประสงค์ของโครงการ</h4>
            <p *ngIf="project_summary">บรรลุ {{project_summary.total_objectives.achieve}} ข้อ</p>
            <p *ngIf="project_summary">ไม่บรรลุ {{project_summary.total_objectives.not_achieve}} ข้อ</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-warning">
          <div class="card-body overflow-hidden text-center">
            <!-- <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-warning"><i class="zmdi zmdi-cocktail"></i></span> -->
            <h4 class="color-warning">การดำเนินกิจกรรม</h4>
            <p *ngIf="project_summary">บรรลุ {{project_summary.total_activities.achieve}} ข้อ</p>
            <p *ngIf="project_summary">ไม่บรรลุ {{project_summary.total_activities.not_achieve}} ข้อ</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-warning">
          <div class="card-body overflow-hidden text-center">
            <!-- <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-warning"><i class="zmdi zmdi-cocktail"></i></span> -->
            <h4 class="color-warning">ผลลัพธ์ของโครงการ</h4>
            <p *ngIf="project_summary">บรรลุ {{project_summary.total_outputs.achieve}} ข้อ</p>
            <p *ngIf="project_summary">ไม่บรรลุ {{project_summary.total_outputs.not_achieve}} ข้อ</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-warning">
          <div class="card-body overflow-hidden text-center">
            <!-- <span class="ms-icon ms-icon-circle ms-icon-xxlg mb-4 color-warning"><i class="zmdi zmdi-cocktail"></i></span> -->
            <h4 class="color-warning">เป็นไปตามตัวชี้วัด</h4>
            <p *ngIf="project_summary">บรรลุ {{project_summary.total_kpi.achieve}} ข้อ</p>
            <p *ngIf="project_summary">ไม่บรรลุ {{project_summary.total_kpi.not_achieve}} ข้อ</p>
          </div>
        </div>
      </div>

    </div>



        </div>
        <p class="h6">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          ข้อมูลนี้เป็นการสรุปจากภาพรวมของโครงการ ข้อมูลในรายละเอียดจะเห็นได้เฉพาะผู้ดำเนินโครงการและผู้ทรงคุณวุฒิ
        </p>


        <div class="card-footer">
          
        </div>
      </div>
    </div>


  </div>
