<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary">
  <div class="container">
  	<div class="text-center">
  		<span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-3">
        <img src="https://surin.srru.ac.th/images/srru-2.png" width="100%" alt=""></span>
    		<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-3">
          ตัวชี้วัดโครงการ
    		</h1>
    		<p class="text-center color-white mt-2 mw-800 text-uppercase  fw-300 animated fadeInUp animation-delay-3">
          ยุทธศาสตร์มหาวิทยาลัยราชภัฏ
    			<span class="color-warning">เพื่อการพัฒนาท้องถิ่น</span> ระยะ 20 ปี (พ.ศ.2560-2579)
        </p>
  	</div>
  </div>
</div>


<div class="container">
    <div class="d-flex flex-column">
      <div class="card card-royal card-hero animated fadeInUp animation-delay-7">
        <div class="card-header">
          <h3 class="card-title"><i class="zmdi zmdi-check-all"></i> ตัวชี้วัดโครงการ (พ.ศ. {{kpi_year+543}})</h3>
        </div>
				<table class="table table-no-border table-striped">
					<thead>
						<tr>
							<th style="width: 15%;">ยุธศาสตร์</th>
							<th style="width: 40%;">กลุ่มตัวชี้วัด</th>
							<th style="width: 45%;">ตัวชี้วัด</th>
						</tr>
					</thead>
          <tbody>
            <tr *ngFor="let kpi of srru_kpis">
              <td style="width: 15%;">{{kpi.name}}</td>
              <td style="width: 40%;">{{kpi.group}}</td>
              <td style="width: 45%; white-space: pre-line;">{{kpi.details}}</td>
            </tr>

          </tbody>
				</table>
      </div>





    </div>
  </div>
