<nav class="navbar navbar-expand-md navbar-fixed navbar-mode ms-navbar navbar-royal" id="navbar-lead">
  <div class="container container-full">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span align="right"><img src="assets/img/logo.png" width="60%" alt=""></span>
        <span class="ms-title"> SRRU <B>Big Data</B></span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a data-scroll class="nav-link" routerLink="/home">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" routerLink="/projects">โครงการ</a>
        </li>
        <li class="nav-item dropdown dropdown-megamenu-container">
          <a href="javascript:void(0)" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">ฐานข้อมูล
            <i class="zmdi zmdi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">
            <li class="container">
              <div class="row">

                <div class="col-sm-3 megamenu-col">
                  <div class="megamenu-block animated fadeInLeft animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-bold"></i> ข้อมูลประชากร</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" routerLink="/info/population">
                          <i class="fa fa-users"></i> ประชากร</a>
                      </li>
                      <li>
                        <a class="withripple" routerLink="/info/population/age">
                          <i class="fa fa-graduation-cap"></i> อายุประชากร</a>
                      </li>
                      <li>
                        <a class="withripple" routerLink="/info/population/income">
                          <i class="fa fa-bar-chart"></i> รายได้</a>
                      </li>
                      <li>
                        <a class="withripple" routerLink="/info/population/occupation">
                          <i class="fa fa-arrows-h"></i> อาชีพ</a>
                      </li>
                      <li>
                        <a class="withripple" routerLink="/info/population/education">
                          <i class="fa fa-graduation-cap"></i> การศึกษา</a>
                      </li>
                      <li>
                        <a class="withripple" href="https://www.tpmap.in.th" target="_blank">
                          <i class="fa fa-money" aria-hidden="true"></i> ความยากจน</a>
                      </li>
                        <li class="dropdown-divider"></li>
                        <li>
                        <a class="withripple" routerLink="/experts">
                          <i class="fa fa-circle-o-notch"></i> ผู้เชี่ยวชาญ</a>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="col-sm-3 megamenu-col">
                  <div class="megamenu-block animated fadeInLeft animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-list-alt"></i> ทรัพยากรธรรมชาติ</h3>
                    <ul class="megamenu-block-list">

                      <li>
                        <a class="withripple" routerLink="/bio">
                          <i class="zmdi zmdi-view-agenda"></i> พืช/สัตว์ท้องถิ่น</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-info"></i> *แหล่งน้ำ(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-tag"></i> *ภูเขา(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-view-list"></i> *สัตว์ป่า(กำลังพัฒนา)</a>
                      </li>

                      <li class="dropdown-divider"></li>

                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-view-list"></i>Datasets</a>
                      </li>



                    </ul>
                  </div>
                  <div class="megamenu-block animated fadeInLeft animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-briefcase"></i> นำเข้าข้อมูล</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" routerLink="/bio/plants/create">
                          <i class="fa fa-pagelines"></i> พืชท้องถิ่น</a>
                      </li>
                        <li>
                        <a class="withripple" routerLink="/bio/animals/create">
                          <i class="fa fa-gg"></i> สัตว์ท้องถิ่น</a>
                      </li>
                      </ul>
                  </div>
                </div>
                <div class="col-sm-3 megamenu-col">
                <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-shopping-bag"></i>สิ่งแวดล้อม</h3>
                      <ul class="megamenu-block-list">
                        <li>
                            <a class="withripple" routerLink="/info/env/weather">
                            <i class="zmdi zmdi-view-agenda"></i> สภาวะอากาศ</a>
                        </li>
                        <li>
                            <a class="withripple" routerLink="/info/env/air">
                            <i class="zmdi zmdi-view-agenda"></i> ฝุ่นละออง</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="withripple" target="_blank" href="http://iwis.pcd.go.th/index.php?method=map&etc=1550802080433">
                            <i class="zmdi zmdi-view-agenda"></i> ฐานข้อมูลคุณภาพน้ำ</a>
                        </li>

                      </ul>
                  </div>

                  <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="zmdi zmdi-tab"></i> การเกษตร</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" target="_blank" href="http://ssmap.doae.go.th/ssmap/">
                          <i class="zmdi zmdi-card-membership"></i> แผนที่ส่งเสริมการเกษตร</a>
                      </li>

                      <li class="dropdown-divider"></li>
                        <li>
                        <a class="withripple" target="_blank" href="/files/GAP.pdf">
                          <i class="zmdi zmdi-card-membership"></i> มาตรฐาน GAP</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-card-membership"></i> *พืช(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-card-giftcard"></i> *ผัก(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-n-6-square"></i> *ผลไม้(กำลังพัฒนา)</a>
                      </li>
                      <li class="dropdown-divider"></li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-n-6-square"></i> *สัตว์เลี้ยง(กำลังพัฒนา)</a>
                      </li>
                    </ul>
                  </div>

                </div>




                <div class="col-sm-3 megamenu-col">
                  <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-briefcase"></i> สุขภาพ</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-plus-square"></i> ผู้ป่วย</a>
                      </li>

                      <!-- <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-arrow-circle-right"></i> *ผู้พิการ(กำลังพัฒนา)</a>
                      </li> -->

                        <li class="dropdown-divider"></li>
                        <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-child"></i> เด็ก</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-male"></i> ผู้ใหญ่</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-blind"></i> ผู้สูงอายุ</a>
                      </li>
                    </ul>
                  </div>

                  <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-shopping-bag"></i> OTOP</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" routerLink="/otop">
                          <i class="fa fa-hand-o-right"></i> สินค้าโอทอป</a>
                      </li>
                      </ul>
                  </div>


                </div>



              </div>
            </li>
          </ul>
        </li>

       <li class="nav-item">
         <a data-scroll class="nav-link" routerLink="/media">สื่อ</a>
       </li>        
        <li class="nav-item">
          <a data-scroll class="nav-link" routerLink="/kpi">ตัวชี้วัด</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" routerLink="/developers">นักพัฒนา</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
          <a data-scroll class="nav-link" routerLink="/dashboard">แดชบอร์ด</a>
        </li>

        <!-- <li class="nav-item dropdown" *ngIf="currentUser">
          <a href="javascript:void(0)" class="color-warning nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="portfolio">ระบบ
            <i class="zmdi zmdi-chevron-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> ข้อมูลส่วนตัว</a>
            </li>

            <ng-container *ngIf="currentUser.info.role === 1">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-eye"></i> ผู้ดูแลระบบ
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li>
                    <a class="dropdown-item" routerLink="/admin/users/create">
                      <i class="fa fa-user-plus"></i> สร้างผู้ใช้งาน</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/admin/users/list">
                      <i class="fa fa-user"></i> รายการผู้ใช้งาน</a>
                  </li>
                </ul>
              </li>
            </ng-container>

            <ng-container *ngIf="currentUser.info.role === 2 || currentUser.info.role === 1">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="zmdi zmdi-book"></i> โครงการ</a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li>
                    <a class="dropdown-item" routerLink="/projects/create">
                      <i class="zmdi zmdi-book"></i> เสนอโครงงาน</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/projects/mylist">
                      <i class="zmdi zmdi-book"></i> ข้อเสนอของฉัน</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-leaf"></i> ชีวภาพ
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                      <a class="dropdown-item" routerLink="/bio/plants/create"><i class="fa fa-pagelines"></i> พืช</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/bio/animals/create"><i class="fa fa-twitter"></i> สัตว์</a>
                    </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-graduation-cap"></i> ผู้เชี่ยวชาญ
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li>
                    <a class="dropdown-item" routerLink="/experts/create">
                      <i class="zmdi zmdi-plus"></i> เพิ่มผู้เชี่ยวชาญ</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/experts/mylist">
                      <i class="zmdi zmdi-view-list-alt"></i> รายการของฉัน</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-shopping-bag"></i> สินค้า OTOP
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li>
                    <a class="dropdown-item" routerLink="/otop/create">
                      <i class="zmdi zmdi-plus"></i> เพิ่มสินค้า OTOP</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/otop/mylist">
                      <i class="zmdi zmdi-view-list-alt"></i> รายการของฉัน</a>
                  </li>
                </ul>
              </li>

              <li>
                <a class="dropdown-item" routerLink="/developers"><i class="fa fa-cogs"></i> APIs</a>
              </li>
            </ng-container>

            <ng-container *ngIf="currentUser.info.role === 6 || currentUser.info.role === 1">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-users"></i> ครอบครัว
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li>
                    <a class="dropdown-item" routerLink="/families">
                      <i class="fa fa-list-ul"></i> รายการครอบครัว</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/families/create">
                      <i class="fa fa-user-plus"></i> เพิ่มครอบครัว</a>
                  </li>
                </ul>
              </li>
            </ng-container>

            <ng-container *ngIf="currentUser.info.role === 8 || currentUser.info.role === 1">
              <li>
                <a class="dropdown-item" routerLink="/projects/assessment/project_list"><i class="fa fa-check-square" aria-hidden="true"></i> ประเมินโครงการ</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/projects/assessment/result"><i class="fa fa-bar-chart" aria-hidden="true"></i> ผลการประเมินโครงการ</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/projects/assessment/manual"><i class="fa fa-youtube-play" aria-hidden="true"></i> ขั้นตอนการประเมินโครงการ</a>
              </li>
            </ng-container>

          </ul>

        </li> -->

      </ul>

      <!-- <a *ngIf="currentUser" routerLink="/dashboard" class="no-focus color-white">
        Dashboard
      </a>       -->
      <a *ngIf="currentUser" href="javascript:void(0)" class="btn-circle btn-circle-white no-focus" (click)="logout()">
        <i class="fa fa-sign-out" data-toggle="tooltip" data-placement="top"></i>
      </a>
      <a *ngIf="!currentUser" routerLink="/login" class="btn-circle btn-circle-white no-focus">
        <i class="zmdi zmdi-account" data-toggle="tooltip" data-placement="top"></i>
      </a>

    </div>
    <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
      <i class="zmdi zmdi-menu"></i>
    </a>
  </div>
</nav>

<!-- Sidebar -->
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
  <div class="sb-slidebar-container">
    <header class="ms-slidebar-header">
      <div class="ms-slidebar-login">
        <a routerLink="/login" class="withripple">
          <i class="zmdi zmdi-account"></i> Login</a>
      </div>
      <div class="ms-slidebar-title">
        <form class="search-form">
          <input id="search-box-slidebar" type="text" class="search-input" placeholder="Search..." name="q" />
          <label for="search-box-slidebar">
            <i class="zmdi zmdi-search"></i>
          </label>
        </form>
        <div class="ms-slidebar-t">
          <!-- <span class="ms-logo ms-logo-sm">SRRU</span> -->
          <h3>SRRU
            <span>Big Data</span>
          </h3>
        </div>
      </div>
    </header>
    <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
      <li>
        <a class="link" routerLink="/">
            <i class="zmdi zmdi-home"></i> หน้าแรก</a>
      </li>
      <li>
        <a class="link" routerLink="/projects">
            <i class="zmdi zmdi-collection-image-o"></i> โครงการ</a>
      </li>
      <li class="card" role="tab" id="sch1">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false" aria-controls="sc1">
          <i class="zmdi zmdi-accounts"></i> ฐานข้อมูลประชากร </a>
        <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1" data-parent="#slidebar-menu">
          <li>
            <a routerLink="/info/population">ประชากร</a>
          </li>
          <li>
            <a routerLink="/info/population/age">อายุประชากร</a>
          </li>
          <li>
            <a routerLink="/info/population/income">รายได้</a>
          </li>
          <li>
            <a routerLink="/info/population/occupation">อาชีพ</a>
          </li>
          <li>
            <a routerLink="/info/population/education">การศึกษา</a>
          </li>
          <li>
            <a routerLink="https://www.tpmap.in.th">ข้อมูลความยากจน</a>
          </li>
          <li>
            <a routerLink="/experts">ผู้เชี่ยวชาญ</a>
          </li>
        </ul>
      </li>
      <li class="card" role="tab" id="sch2">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc2" aria-expanded="false" aria-controls="sc2">
          <i class="zmdi zmdi-landscape"></i> ฐานข้อมูลทรัทรัพยากรธรรมชาติ </a>
        <ul id="sc2" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch2" data-parent="#slidebar-menu">
          <li>
            <a routerLink="/bio">พืช/สัตว์ท้องถิ่น</a>
          </li>
          <li>
            <a href="javascript:void(0)">แหล่งน้ำ (กำลังพัฒนา)</a>
          </li>
          <li>
            <a href="javascript:void(0)">ภูเขา (กำลังพัฒนา)</a>
          </li>
          <li>
            <a href="javascript:void(0)">สัตว์ป่า (กำลังพัฒนา)</a>
          </li>
        </ul>
      </li>
      <li class="card" role="tab" id="sch4">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc4" aria-expanded="false" aria-controls="sc4">
          <i class="zmdi zmdi-brightness-5"></i> ฐานข้อมูลสิ่งแวดล้อม </a>
        <ul id="sc4" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch4" data-parent="#slidebar-menu">
          <li>
            <a routerLink="/weathers">สภาวะอากาศ</a>
          </li>
          <li>
            <a routerLink="/info/air">ฝุ่นละออง</a>
          </li>
        </ul>
      </li>
      <li class="card" role="tab" id="sch5">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc5" aria-expanded="false" aria-controls="sc5">
          <i class="zmdi zmdi-globe-alt"></i> ฐานข้อมูลการเกษตร </a>
        <ul id="sc5" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch5" data-parent="#slidebar-menu">
          <li>
            <a href="http://ssmap.doae.go.th/ssmap/">แผนที่ส่งเสริมการเกษตร</a>
          </li>
          <li>
            <a href="https://surin.srru.ac.th/files/GAP.pdf">มาตรฐาน GAP</a>
          </li>
          <li>
            <a href="javascript:void(0)">พืช (กำลังพัฒนา)</a>
          </li>
          <li>
            <a href="javascript:void(0)">ผัก (กำลังพัฒนา)</a>
          </li>
          <li>
            <a href="javascript:void(0)">ผลไม้ (กำลังพัฒนา)</a>
          </li>
          <li>
            <a href="javascript:void(0)">สัตว์เลี้ยง (กำลังพัฒนา)</a>
          </li>
        </ul>
      </li>
      <li class="card" role="tab" id="sch6">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc6" aria-expanded="false" aria-controls="sc6">
          <i class="zmdi zmdi-hospital"></i> ฐานข้อมูลสุขภาพ </a>
        <ul id="sc6" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch6" data-parent="#slidebar-menu">
          <li>
            <a routerLink="/info/health">ผู้ป่วย</a>
          </li>
          <li>
            <a routerLink="/info/health">เด็ก</a>
          </li>
          <li>
            <a routerLink="/info/health">ผู้ใหญ่</a>
          </li>
          <li>
            <a routerLink="/info/health">ผู้สูงอายุ</a>
          </li>
        </ul>
      </li>

      <li class="card" role="tab" id="sch7">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc7" aria-expanded="false" aria-controls="sc7">
          <i class="zmdi zmdi-shopping-cart"></i> ฐานข้อมูล OTOP </a>
        <ul id="sc7" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch7" data-parent="#slidebar-menu">
          <li>
            <a href="/data/otop">สินค้า OTOP</a>
          </li>

        </ul>
      </li>
      <li class="card" role="tab" id="sch8">
        <a class="collapsed" role="button" data-toggle="collapse" href="#sc8" aria-expanded="false" aria-controls="sc8">
          <i class="zmdi zmdi-keyboard-hide"></i> นำเข้าฐานข้อมูล</a>
        <ul id="sc8" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch8" data-parent="#slidebar-menu">
          <li>
            <a routerLink="/bio/plants/create">พืชท้องถิ่น</a>
          </li>
          <li>
            <a routerLink="/bio/animals/create">สัตว์ท้องถิ่น</a>
          </li>
        </ul>
      </li>

      <li>
        <a class="link" routerLink="/media">
          <i class="zmdi zmdi-collection-video"></i> สื่อ</a>
      </li>
      <li>
        <a class="link" routerLink="/developers">
          <i class="zmdi zmdi-cloud-download"></i> นักพัฒนา</a>
      </li>
      <li>
        <a class="link" routerLink="/kpi">
          <i class="zmdi zmdi-chart"></i> ตัวชี้วัด</a>
      </li>
    </ul>
    <div class="ms-slidebar-social ms-slidebar-block">
      <h4 class="ms-slidebar-block-title">Social Links</h4>
      <div class="ms-slidebar-social">
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-facebook">
          <i class="zmdi zmdi-facebook"></i>
          <span class="badge-pill badge-pill-pink">12</span>
          <div class="ripple-container"></div>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-twitter">
          <i class="zmdi zmdi-twitter"></i>
          <span class="badge-pill badge-pill-pink">4</span>
          <div class="ripple-container"></div>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-google">
          <i class="zmdi zmdi-google"></i>
          <div class="ripple-container"></div>
        </a>
        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
          <i class="zmdi zmdi-instagram"></i>
          <div class="ripple-container"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Sidebar -->
