<nav class="navbar navbar-expand-md navbar-fixed navbar-mode ms-navbar navbar-royal" id="navbar-lead">
  <div class="container container-full">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span align="right"><img src="/assets/img/logo.png" width="60%" alt=""></span>
        <span class="ms-title"> SRRU <B>Big Data</B></span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a data-scroll class="nav-link" routerLink="/home">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" routerLink="/projects">โครงการ</a>
        </li>
        <li class="nav-item dropdown dropdown-megamenu-container">
          <a href="#" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">ฐานข้อมูล
            <i class="zmdi zmdi-chevron-down"></i>
          </a>

          <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">
            <li class="container">
              <div class="row">

                <div class="col-sm-3 megamenu-col">
                  <div class="megamenu-block animated fadeInLeft animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-bold"></i> ข้อมูลประชากร</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" href="/data/population">
                          <i class="fa fa-users"></i> ประชากร</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/population/age">
                          <i class="fa fa-graduation-cap"></i> อายุประชากร</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/population/income">
                          <i class="fa fa-bar-chart"></i> รายได้</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/population/occupation">
                          <i class="fa fa-arrows-h"></i> อาชีพ</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/population/education">
                          <i class="fa fa-graduation-cap"></i> การศึกษา</a>
                      </li>
                      <li>
                        <a class="withripple" href="https://www.tpmap.in.th">
                          <i class="fa fa-money" aria-hidden="true"></i> ความยากจน</a>
                      </li>
                        <li class="dropdown-divider"></li>
                        <li>
                        <a class="withripple" href="/data/experts">
                          <i class="fa fa-circle-o-notch"></i> ผู้เชี่ยวชาญ</a>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="col-sm-3 megamenu-col">
                  <div class="megamenu-block animated fadeInLeft animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-list-alt"></i> ทรัพยากรธรรมชาติ</h3>
                    <ul class="megamenu-block-list">

                      <li>
                        <a class="withripple" href="/bio">
                          <i class="zmdi zmdi-view-agenda"></i> พืช/สัตว์ท้องถิ่น</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-info"></i> *แหล่งน้ำ(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-tag"></i> *ภูเขา(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-view-list"></i> *สัตว์ป่า(กำลังพัฒนา)</a>
                      </li>

                      <li class="dropdown-divider"></li>

                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-view-list"></i>Datasets</a>
                      </li>



                    </ul>
                  </div>
                  <div class="megamenu-block animated fadeInLeft animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-briefcase"></i> นำเข้าข้อมูล</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" href="/bio/diversity?t=1">
                          <i class="fa fa-pagelines"></i> พืชท้องถิ่น</a>
                      </li>
                        <li>
                        <a class="withripple" href="/bio/diversity?t=2">
                          <i class="fa fa-gg"></i> สัตว์ท้องถิ่น</a>
                      </li>
                      </ul>
                  </div>
                </div>
                <div class="col-sm-3 megamenu-col">
                <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-shopping-bag"></i>สิ่งแวดล้อม</h3>
                      <ul class="megamenu-block-list">
                        <li>
                            <a class="withripple" href="/weathers">
                            <i class="zmdi zmdi-view-agenda"></i> สภาวะอากาศ</a>
                        </li>
                        <li>
                            <a class="withripple" href="/data/air">
                            <i class="zmdi zmdi-view-agenda"></i> ฝุ่นละออง</a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a class="withripple" target="_blank" href="http://iwis.pcd.go.th/index.php?method=map&etc=1550802080433">
                            <i class="zmdi zmdi-view-agenda"></i> ฐานข้อมูลคุณภาพน้ำ</a>
                        </li>

                      </ul>
                  </div>

                  <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="zmdi zmdi-tab"></i> การเกษตร</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" target="_blank" href="http://ssmap.doae.go.th/ssmap/">
                          <i class="zmdi zmdi-card-membership"></i> แผนที่ส่งเสริมการเกษตร</a>
                      </li>

                      <li class="dropdown-divider"></li>
                        <li>
                        <a class="withripple" target="_blank" href="/files/GAP.pdf">
                          <i class="zmdi zmdi-card-membership"></i> มาตรฐาน GAP</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-card-membership"></i> *พืช(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-card-giftcard"></i> *ผัก(กำลังพัฒนา)</a>
                      </li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-n-6-square"></i> *ผลไม้(กำลังพัฒนา)</a>
                      </li>
                      <li class="dropdown-divider"></li>
                      <li>
                        <a class="withripple" href="javascript:void(0)">
                          <i class="zmdi zmdi-n-6-square"></i> *สัตว์เลี้ยง(กำลังพัฒนา)</a>
                      </li>
                    </ul>
                  </div>

                </div>




                <div class="col-sm-3 megamenu-col">
                  <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-briefcase"></i> สุขภาพ</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-plus-square"></i> ผู้ป่วย</a>
                      </li>

                      <!-- <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-arrow-circle-right"></i> *ผู้พิการ(กำลังพัฒนา)</a>
                      </li> -->

                        <li class="dropdown-divider"></li>
                        <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-child"></i> เด็ก</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-male"></i> ผู้ใหญ่</a>
                      </li>
                      <li>
                        <a class="withripple" href="/data/health">
                          <i class="fa fa-blind"></i> ผู้สูงอายุ</a>
                      </li>
                    </ul>
                  </div>

                  <div class="megamenu-block animated fadeInRight animated-2x">
                    <h3 class="megamenu-block-title">
                      <i class="fa fa-shopping-bag"></i> OTOP</h3>
                    <ul class="megamenu-block-list">
                      <li>
                        <a class="withripple" href="/data/otop">
                          <i class="fa fa-hand-o-right"></i> สินค้าโอทอป</a>
                      </li>
                      </ul>
                  </div>


                </div>



              </div>
            </li>
          </ul>
        </li>

       <li class="nav-item">
         <a data-scroll class="nav-link" href="/media">สื่อ</a>
       </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="/download">ดาวน์โหลด</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="/aboutus">เกี่ยวกับ</a>
        </li>

        <li class="nav-item dropdown" *ngIf="currentUser">
          <a href="#" class="color-warning nav-link dropdown-toggle animated fadeIn animation-delay-8" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="portfolio">ระบบ
            <i class="zmdi zmdi-chevron-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> ข้อมูลส่วนตัว</a>
            </li>
            <ng-container *ngIf="currentUser.info.role === 2">
              <li class="dropdown-submenu">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="zmdi zmdi-book"></i> โครงการ</a>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li>
                    <a class="dropdown-item" routerLink="/projects/create">
                      <i class="zmdi zmdi-book"></i> เสนอโครงงาน</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/projects/mylist">
                      <i class="zmdi zmdi-book"></i> ข้อเสนอของฉัน</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a class="dropdown-item">
                  <i class="fa fa-leaf"></i> ชีวภาพ
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                      <a class="dropdown-item" routerLink="/bio/diversity?t=1"><i class="fa fa-pagelines"></i> พืช</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/bio/diversity?t=2"><i class="fa fa-twitter"></i> สัตว์</a>
                    </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/experts/create">
                  <i class="fa fa-graduation-cap"></i> ผู้เชี่ยวชาญ
                </a>
              </li>

              <li>
                <a class="dropdown-item" routerLink="/families"><i class="fa fa-users"></i> ประชากร</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/otop/create"><i class="fa fa-shopping-bag"></i> สินค้า OTOP</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/developers"><i class="fa fa-cogs"></i> APIs</a>
              </li>
            </ng-container>

            <ng-container *ngIf="currentUser.info.role === 8">
              <li>
                <a class="dropdown-item" routerLink="/projects"><i class="fa fa-check-square" aria-hidden="true"></i> ประเมินโครงการ</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/projects/assessment/1"><i class="fa fa-bar-chart" aria-hidden="true"></i> ผลการประเมินโครงการ</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/assessment_manual"><i class="fa fa-youtube-play" aria-hidden="true"></i> ขั้นตอนการประเมินโครงการ</a>
              </li>
            </ng-container>

          </ul>

        </li>

      </ul>

      <a *ngIf="currentUser" href="/profile" class="no-focus color-white">
        {{ currentUser.info.display_name }}
      </a>      
      <a *ngIf="currentUser" href="javascript:void(0)" class="btn-circle btn-circle-white no-focus" (click)="logout()">
        <i class="fa fa-sign-out" data-toggle="tooltip" data-placement="top"></i>
      </a>      
      <a *ngIf="!currentUser" href="/login" class="btn-circle btn-circle-white no-focus">
        <i class="zmdi zmdi-account" data-toggle="tooltip" data-placement="top"></i>
      </a>

    </div>
    <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu">
      <i class="zmdi zmdi-menu"></i>
    </a>
  </div>

</nav>

<div class="ms-site-container">
    <div class="modal modal-primary" id="ms-account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog animated zoomIn animated-3x" role="document">
        <div class="modal-content">
          <div class="modal-header d-block shadow-2dp no-pb">
            <button type="button" class="close d-inline pull-right mt-2" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="zmdi zmdi-close"></i>
              </span>
            </button>
            <div class="modal-title text-center">
               <span class="ms-logo ms-logo-white ms-logo-sm"><img src="/assets/img/logo.png"></span>
              <h3 class="no-m ms-site-title">เข้าสู่ระบบ
              </h3>
            </div>
            <div class="modal-header-tabs">
              <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 nav-tabs-primary" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a href="#ms-login-tab" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="nav-link active withoutripple">
                      <i class="zmdi zmdi-account"></i> เข้าสู่ระบบ</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab">
                <form autocomplete="off" action="" method="POST" >
                  <fieldset>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user">Username</label>
                        <input type="text" name="username" id="ms-form-user" class="form-control" required> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass">Password</label>
                        <input type="password" name="password" id="ms-form-pass" class="form-control" required> </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-6">
                        <div class="form-group no-mt">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Remember Me </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-raised btn-primary pull-right">Login</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
                <div class="text-center">
                  <h4>การเข้าสู่ระบบ</h4>
                    <p class="text-left">
                      ใช้ Username และ Password เดียวกับระบบยืนยันตัวตนของมหาวิทยาลัย<BR>
                      username : ชื่อภาษาอังกฤษ.อักษรแรกของนามสกุล <BR>
                      password : รหัสบัตรประชาชน<BR>
                    </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
                <form>
                  <fieldset>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="ms-form-user-r">Username</label>
                        <input type="text" id="ms-form-user-r" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-email"></i>
                        </span>
                        <label class="control-label" for="ms-form-email-r">Email</label>
                        <input type="email" id="ms-form-email-r" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass-r">Password</label>
                        <input type="password" id="ms-form-pass-r" class="form-control"> </div>
                    </div>
                    <div class="form-group label-floating">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="ms-form-pass-rn">Re-type Password</label>
                        <input type="password" id="ms-form-pass-rn" class="form-control"> </div>
                    </div>
                    <button class="btn btn-raised btn-block btn-primary">Register Now</button>
                  </fieldset>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab">
                <form>
                <fieldset>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-account"></i>
                      </span>
                      <label class="control-label" for="ms-form-user-re">Username</label>
                      <input type="text" id="ms-form-user-re" class="form-control"> </div>
                  </div>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-email"></i>
                      </span>
                      <label class="control-label" for="ms-form-email-re">Email</label>
                      <input type="email" id="ms-form-email-re" class="form-control"> </div>
                  </div>
                  <button class="btn btn-raised btn-block btn-primary">Send Password</button>
                </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

