<!-- for landing -->
<link href="assets/search/css/main.css" rel="stylesheet" />
<!-- end for landing-->

  <div class="s006">
    <form>
      <fieldset>
        <legend><img src="assets/search/images/logo.png" width="30%"></legend>
        <div class="inner-form">
          <div class="input-field">
            <button class="btn-search" type="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </button>
            <input id="search" type="text" placeholder="" value="ค้นหา" />
          </div>
        </div>

      </fieldset>
    </form>
  </div>

<!-- Query Data -->
<section id="team">
  <div class="container pt-6">
  <!-- <h2 class="section-title no-margin-top">Cards with Material Icon</h2> -->
  <div class="row"> <!-- row1-->
    <div class="col-xs-6 col-sm-4 col-lg-2">
        <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/search/images/logo/spao.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">ที่ทําการปกครองจังหวัดสุรินทร์</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/search/images/logo/spcdo.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">สํานักงานพัฒนาชุมชนจังหวัดสุรินทร์</h4>

        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/search/images/logo/splo.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">สํานักงานที่ดินจังหวัดสุรินทร์</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/search/images/logo/sppwtpo.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">สํานักงานโยธาธิการและผังเมืองจังหวัดสุรินทร์</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/search/images/logo/spdpmo.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">สํานักงานป้องกันและบรรเทาสาธารณภัยจังหวัดสุรินทร์</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/search/images/logo/spfo.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">สํานักงานส่งเสริมการปกครองท้องถิ่นจังหวัดสุรินทร์</h4>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row"> <!-- row2-->
    <div class="col-xs-6 col-sm-4 col-lg-2">
        <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">sample</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">sample a</h4>

        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">Lorem ipsum dolor sit</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">Lorem ipsum dolor sit</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">Lorem ipsum dolor sit</h4>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-lg-2">
      <div class="card card-royal">
        <div class="withripple zoom-img">
          <a href="javascript:void(0);">
            <img src="assets/img/demo/m1.jpg" alt="" class="img-fluid"> </a>
        </div>
        <div class="card-body overflow-hidden text-center">
          <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown">
            <i class="glyphicon glyphicon-link"></i>
          </a>
          <h4 class="color-royal">Lorem ipsum dolor sit</h4>
        </div>
      </div>
    </div>
    
  </div>
  </div>
</section>

<!-- end Query Data -->
